@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(../styles.css);

/*_________________Geral_________________*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body{
    overflow: hidden;
}

.main{
    display: flex;
    flex-direction: column;
}

/*_________________Header_________________*/
.header{
    display: flex;
    position: absolute;
    align-items: center;
    padding-left: 17px;
    margin-top: 39px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    right: 0;
    width: 300px;
    height: 103px;
    color: whitesmoke;
    background-color: var(--cor-sidebar-fundo);
}

/*_________________Dashboard_________________*/
.main-dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-left: 347px;
    padding-top: 144px;
}

.numbers-dashboard{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.number-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px;
    width: 482px;
    height: 126px;
    border-radius: 16px;
    color: whitesmoke;
}

#h2Dashboard{
    font-size: 22px;
}
#h3Dashboard{
    font-size: 36px;
}

.box1{
    background-color: var(--cor-box1-dashboard);
}
.box2{
    background-color: var(--cor-box2-dashboard);
}
.box3{
    background-color: var(--cor-box3-dashboard);
}

.number-box-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: var(--cor-sidebar-escrita);
    color: black;
    border-radius: 10px;
}
/* PARTE DAS PIZZAS */

#controlePizzas
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 50px;
}

#divPizzaEsquerda, #divPizzaDireita
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 470px;
    border: #0000004D 2px solid;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#divControladoraTexto
{
    display: flex;
    align-items: flex-start
}

#tituloPizza
{
    margin: 15px 0px 0px 20px;
}

#selecionador
{
    display: flex;
    flex-direction: column;
    margin: 20px 50px 0px 0px;
}

#ajusteSelecionador
{
    display: flex;
    flex-direction: row-reverse;
}