body
{
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

/* PARTE LATERAL DA ESQUERDA (MENU BAR) */

#containerEsquerda
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#141414 77%, #353535 100%);
    height: 100vh;
    width: 350px;
}

/* fotos em geral */

#imagem
{
    display: flex;
    justify-content: center;
}

#fotoEt
{
    margin-top: 30px;
    width: 200px;
    height: 150px;

}

/* estilização dos botões */

#opcoes
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#botaoPadrao
{
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 220px;
    height: 60px;
    margin: 10px 0 10px 0;
    cursor: pointer;
    border: none;
}

#iconeClique
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    background-color: black;
    border-radius: 12px;

}

#textoBotao
{
    margin-left: 5px;
}

/* parte do sair */

#saindo
{
    gap: 15px;
    margin-top: 200px;
    display: flex;
}

#botaoSair
{
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 18px;
    padding: 10px;
    cursor: pointer;
    border: none;
}

#sairP
{
    color: white;
}

/* PARTE DA DIREITA CONTAINER GERAL */

#container
{
    width: 100vw;
    height: 100vh;
    margin-left: 50px;
}

/* estilizacao da parte do icone do usuario */

#controleIcon
{
    display: flex;
    flex-direction: row-reverse;
}

#iconUsuario
{
    width: 250px;
    height: 80px;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    margin-top: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#fotoUser
{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 30px;
    width: 70px;
    height: 70px;
}

/* estilizacao das informacoes principais */

#geralInformacoes
{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

#valorVendas, #lucroLiquido, #vendas
{
    display: flex;
    align-items: center;
    gap: 120px;
    background-color: #14A166;
    border-radius: 15px;
    padding: 10px;
    height: 150px;
    width: 450px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#lucroLiquido
{
    background-color: #A41FA6;
}

#vendas
{
    background-color: #3449B6;  
}

#imagemInforma
{
    width: 40px;
    height: 40px;
}

#imagemInformaEstilizacao
{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 15px;
    align-items: center;
    background-color: white;
}

#textoTituloInform, #valorInform
{
    margin-left: 5px;
    color: white;
}

/* PARTE DAS PIZZAS */

#controlePizzas
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 50px;
}

#divPizzaEsquerda, #divPizzaDireita
{
    width: 750px;
    height: 500px;
    border: #0000004D 2px solid;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#tituloPizza
{
    margin: 15px 0px 0px 20px;
}

#selecionador
{
    display: flex;
    flex-direction: column;
    margin: 20px 50px 0px 0px;
}

#ajusteSelecionador
{
    display: flex;
    flex-direction: row-reverse;
}

/* ANIMACAO DOS DONUTS */
