#lista {
    width: 97%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

#tabelaVendas {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    table-layout: fixed;
}

#barraCima {
    background-color: #141414;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10%;
}

th, td {
    text-align: center;
}

th {
    padding: 2%;
    font-size: 24px;
}


td {
    padding: 2%;
    font-size: 20px;
    font-weight: bold;
    overflow-wrap: break-word;
}

tr {
    border-bottom: 0.1px solid #DADADA;
}

.tabela-body {
    max-height: 620px;
    max-width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabela-body::-webkit-scrollbar {
    display: none;
}

/* parte dos botoes */

.verticalizacao {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.validarButton, .cancelarButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.validarButton:hover {
    background-color: rgb(200, 255, 180);
}

.cancelarButton:hover {
    background-color: rgb(255, 180, 180);
}


.marcarValido {
    background-color: greenyellow;
}

.marcarCancelar {
    background-color: red;
}

.motivo button {
    background: transparent;
    border: none;
}

.motivo button img {
    width: 30px;
    cursor: pointer;
}

.motivo button img:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.texto-popUp {
    display: block;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.btnSobreProduto, .btnMotivoRecuso{
    padding: 10px;
    border: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.btnMotivoRecuso{
    border: 1px solid red;
}

.img-popUp img {
    background-color: green;
    border-radius: 50%;
}

.popUpRecusou .img-popUp img{
    background-color: rgb(202, 61, 61);
    border-radius: 50%;
}