.produtoDestaque{
    position: relative;
    display: block;
    height: 850px;
    background-image: linear-gradient(to top, rgb(180, 147, 138) 0%, rgb(254, 225, 216) 50%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
    transition: all 0.6s;
}

.ondaProdutoDestaque{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.ondaPrincipal{
    z-index: 200;
    filter: drop-shadow(0px 0px 50px rgb(56, 21, 7));
}

.ondaFantasma{
    z-index: 199;
}

.retanguloProdutoDestaque{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    filter: drop-shadow(0px 0px 120px rgba(56, 21, 7, 1));
    z-index: 198;
}

.wrapperInfoProdutoDestaque{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40%;
    height: 80%;
    bottom: 0;
    right: 0;
    z-index: 201;
    transition: all 0.6s;
}

.infoProdutoDestaque .nomeProduto{
    width: 655px;
    font-size: 48px;
    font-weight: 300;
}

.infoProdutoDestaque .marcaProduto{
    width: 655px;
    font-size: 32px;
    font-weight: 700;
}

.infoProdutoDestaque .precoProduto{
    width: 655px;
    font-size: 48px;
    font-weight: 300;
    margin-top: 18px;
}

.infoProdutoDestaque .botoesProdutoDestaque{
    display: flex;
    margin-top: 26px;
    gap: 69px;
}

.produtoDestaque .imagemProduto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 140px;
    left: 230px;
    transition: all 0.6s;
}

.produtoDestaque .imagemProduto .produto{
    width: 550px;
    z-index: 201;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.8));
}
.produtoDestaque .imagemProduto .luzProduto{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 1000px;
    filter: blur(120px);
    z-index: 200;
}



@media (max-width: 1800px){ /*Computador*/
    .wrapperInfoProdutoDestaque{
        height: 75%;
    }

    .infoProdutoDestaque{
        transform: scale(0.9);
    }
}

@media (max-width: 1650px){ /*Computador Grande*/
    .produtoDestaque{
        height: 800px;
        margin-top: 30px;
    }

    .wrapperInfoProdutoDestaque{
        height: 70%;
    }

    .infoProdutoDestaque{
        transform: scale(0.8);
    }

    .produtoDestaque .imagemProduto{
        left: 180px;
        top: 120px;
    }
}

@media (max-width: 1525px){ /*Computador Grande*/
    .wrapperInfoProdutoDestaque{
        height: 60%;
    }

    .infoProdutoDestaque{
        transform: scale(0.8);
    }

    .produtoDestaque .imagemProduto{
        left: 140px;
    }
}

@media (max-width: 1400px){ /*Computador*/

    .infoProdutoDestaque{
        transform: scale(0.75);
    }

    .produtoDestaque .imagemProduto{
        left: 120px;
    }
}

@media (max-width: 1350px){ /*Computador*/
    .produtoDestaque{
        height: 700px;
        margin-top: 0px;
    }

    .wrapperInfoProdutoDestaque{
        height: 70%;
    }

    .infoProdutoDestaque{
        transform: scale(0.70);
    }

    .produtoDestaque .imagemProduto{
        left: 100px;
        top: 80px;
        transform: scale(0.9);
    }

}

@media (max-width: 1300px){ /*Computador*/
    .wrapperInfoProdutoDestaque{
        height: 62%;
    }

    .infoProdutoDestaque{
        transform: scale(0.65);
    }

    .produtoDestaque .imagemProduto{
        left: 100px;
        top: 80px;
        transform: scale(0.9);
    }

}

@media (max-width: 1200px){ /*Computador*/
    .produtoDestaque{
        height: 650px;
        margin-top: 0px;
    }

    .wrapperInfoProdutoDestaque{
        height: 60%;
    }

    .infoProdutoDestaque{
        transform: scale(0.60);
    }

    .produtoDestaque .imagemProduto{
        left: 45px;
        top: 50px;
        transform: scale(0.85);
    }

}

@media (max-width: 1067px){ /*Computador*/
    .ondaProdutoDestaque{
        width: 1067px;
        right: 0;
        left: auto;
    }

    .produtoDestaque{
        height: 650px;
        margin-top: 0px;
    }

    .wrapperInfoProdutoDestaque{
        width: 400px;
        height: 60%;
        right: 12px;
    }

    .infoProdutoDestaque{
        transform: scale(0.60);
    }

    .produtoDestaque .imagemProduto{
        left: auto;
        right: 470px;
        top: 50px;
        transform: scale(0.85);
    }

}

@media (max-width: 992px){ /*Tablet*/
    .produtoDestaque .imagemProduto{
        left: auto;
        right: 410px;
        top: 50px;
        transform: scale(0.65);
    }
}

@media (max-width: 880px){ /*Tablet*/
    .produtoDestaque .imagemProduto{
        left: auto;
        right: 360px;
        top: 50px;
        transform: scale(0.55);
    }
}

@media (max-width: 800px){ /*Celular Paisagem*/

}

@media (max-width: 576px){ /*Celular Vertical*/

}
