.produtoDestaque{
    position: relative;
    display: block;
    height: 850px;
    background-image: linear-gradient(to top, rgb(180, 147, 138) 0%, rgb(254, 225, 216) 50%, rgba(255, 255, 255, 0) 100%);
    width: 1920px;
    margin-top: 0;
    overflow: hidden;
    transition: all 0.6s;
    scale: 0.65;
    left: -336px;
    top: -150px;
    pointer-events: none;
    user-select: none;
}

.ondaProdutoDestaque{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 0.6s;
}

.ondaPrincipal{
    z-index: 200;
    filter: drop-shadow(0px 0px 50px rgb(56, 21, 7));
    transition: all 0.6s;
}

.ondaFantasma{
    z-index: 199;
    transition: all 0.6s;
}

.retanguloProdutoDestaque{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    filter: drop-shadow(0px 0px 120px rgba(56, 21, 7, 1));
    z-index: 198;
}

.wrapperInfoProdutoDestaque{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40%;
    height: 80%;
    bottom: 0;
    right: 0;
    z-index: 201;
    transition: all 0.6s;
}

.infoProdutoDestaque .nomeProduto{
    width: 655px;
    font-size: 48px;
    font-weight: 300;
}

.infoProdutoDestaque .marcaProduto{
    width: 655px;
    font-size: 32px;
    font-weight: 700;
}

.infoProdutoDestaque .precoProduto{
    width: 655px;
    font-size: 48px;
    font-weight: 300;
    margin-top: 18px;
}

.infoProdutoDestaque .botoesProdutoDestaque{
    display: flex;
    margin-top: 26px;
    gap: 69px;
}

.produtoDestaque .imagemProduto{
    display: flex;
    position: absolute;
    top: 140px;
    left: 230px;
    transition: all 0.6s;
}

.produtoDestaque .imagemProduto .produto{
    width: 550px;
    z-index: 201;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.8));
}

.produtoDestaque .imagemProduto .luzProduto{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 1000px;
    filter: blur(120px);
    z-index: 200;
}

@media (max-width: 1660px){ /*Computador*/
    .customizacaoMain{
        max-height: 1100px;
    }

    .produtoDestaque{
        scale: 0.6;
        left: -382px;
        top: -170px;
    }

    .wrapper{
        top: -340px;
    }
}

@media (max-width: 1560px){ /*Computador*/
    .customizacaoMain{
        max-height: 1100px;
    }

    .produtoDestaque{
        scale: 0.4;
        left: -382px;
        top: -170px;
    }

    .wrapper{
        top: -340px;
    }
}

@media (max-width: 1280px){ /*Computador*/
    .customizacaoMain{
        max-height: 900px;
    }

    .produtoDestaque{
        scale: 0.4;
        left: -580px;
        top: -240px;
    }

    .wrapper{
        top: -500px;
    }
}