#tabelaVendas 
{
    width: 97%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 15px;
}

#barraCima 
{
    background-color: black;
    color: white;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    padding: 10%;
}

th, td
{
    padding: 12px;
    text-align: center;
}

th{
    padding: 2%;
    font-size: 24px;
}

td
{
    font-size: 20px;
}

tr
{
    border-bottom: 0.3px solid #DADADA;
}

#bordaEsquerda
{
    border-top-left-radius: 10px;
}


#bordaDireita
{
    border-top-right-radius: 10px;
}

#statusPago, #statusPendente
{   
    color: white;
    background-color: #14A065;
    border-radius: 15px;
    padding: 9.5%;
}

#statusPendente
{
    background-color: #FF3131;
}