*
{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

/* Configuranção do componetes*/

.container{
    display: flex;
}

.parteBranca{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    position: fixed;
    bottom: 32px;
    left: 32px;
    height: 100px;
}

.h1{
    text-align: left;
}

.containerForm {
    padding: 20px;
}


/*Configuração dos campos*/
form{
    display: grid;
    grid-row: 2px;
    margin-top: 20px;
}

.id{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    row-gap: 30px; 
    column-gap: 270px;
    width: 100%;
}

.none {
    height: 80px;
    width: 350px;
}

#red{
    color: red;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}


.campo-campo-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.campo-campo-container input {
    width: 460px;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
    box-sizing: border-box;
    font-weight: 400;
} 

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.campo-campo-container label {
    position: absolute;
    left: 0px;
    top: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
    pointer-events: none;
}

.campo-campo-container input:focus + label,
.campo-campo-container input:valid + label {
    top: -15px;
    font-size: 16px;
    color: black;
}

/* Termos de Uso e botões*/
.p{
    display: flex;
    gap: 5px;
}

.p1{
    color:red;
}

.p2{
    font-weight: 400;
}

.low {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.checkbox {
    display: flex;
    text-align: left;
    padding: 0%;
    height: 20px;
    margin-top: 20px;
    align-items: center;
    gap: 8px;
}

.checkbox input[type=checkbox] {
    width: 22px;
    height: 22px;
}

.botaoConfirmar {
    background-color: black;
    color: white;
    width: 420px;
    height: 60px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.botaoConfirmar:hover {
    transform: scale(1.05);
}


#confirmar{
    text-decoration: none;
    color: white;
}

/*Botão Voltar*/


#voltarSair{
    position: fixed;
    display: flex;
    align-items: center;
    top: 32px;
    font-size: 20px;
    left: 42px;
    gap: 12px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 8px;
}

#voltar{   
    font-weight: 600;
    text-decoration: none;
    color: black;
}

/*Ondas*/
section
{   
    position: relative;
    width: 20%;
    height: 100vh;
    background-color: black;
    overflow: hidden;

}

section .wave
{
    position: fixed;
    left: 32%;
    width: 100%;
    height: 100px;
    background: url(../imagens/ondas/ondaSolida.png);
    background-size: 1000px 100px;
    transform: rotate(90deg) scaleX(-1);
}

section .wave.wave1
{
    top: 0;
    animation: animacao 10s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;


}

@keyframes animacao {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

/* Responsividade */
@media (max-width: 1024px) {
    .container {
        width: 100%;
        margin: 60px auto;
        padding: 20px;
    }

    .id {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .campo-campo-container input {
        width: 100%;
    }

    .none {
        display: none;
    }

    .checkbox {
        font-size: 14px;
        flex-direction: row;
        align-items: center;
    }

    .botaoConfirmar {
        margin-top: 20px;
        width: 100%;
        font-size: 24px;
        height: 50px;
    }

    .voltarSair {
        margin: 40px auto 0;
        justify-content: flex-start;
    }

}

@media (max-width: 600px) {
    .logo {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-size: 24px;
    }

    .p2 {
        font-size: 9px;
    }

    .checkbox {
        flex-direction: column;
        align-items: flex-start;
    }

    .checkbox label {
        font-size: 14px;
    }

    .low {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .voltarSair {
        flex-direction: row;
        justify-content: flex-start;
    }

    #voltar {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    section,
    .wave {
        display: none;
    }
}