@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/* PARTE CLARA */
.Foto img{
    height: 200px;
    width: 200px;
}
/* dados = div com todos os campos com excessão da foto */
.dados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}
/* Cadastro = parte branca no geral */
.Cadastro {
    display: flex;
    width: 100%;
    margin: 30px 0px 0px 100px;
    align-items: center;
    gap: 10px;
}

/* PARTE ESCURA */

.logo {
    position: fixed;
    bottom: 32px;
    left: 32px;
    height: 100px;
}

/* botão de voltar */
#voltarSair{
    position: fixed;
    display: flex;
    align-items: center;
    top: 32px;
    font-size: 20px;
    left: 42px;
    gap: 12px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 8px;
}

#voltarSair i{
    color: white;
}

#voltar{   
    font-weight: 600;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* Tela inteira */
.pagina {
    display: flex;
    margin: 0;
}
/* Onda + botão de voltar */
.Decoracao {
    width: 350px;
    background-color: black;
    color: white;
    margin: 0px 30px 0px 0px;
    padding-right: 30px;
}


/* PARTE DA DESCRIÇÃO E BOTÕES */
/* caixa grande de texto */
.caixa_texto {
    width: 550px;
    height: 200px;
    border: 2px solid black;
    border-radius: 8px;
    margin-left: 70px;
}
/* parte debaixo dos inputs pequenos */
.embaixo {
    margin-top: 40px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
/* autoexplicativo */
.botoes {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
/* autoexplicativo 2.0 */
.checkbox input[type="checkbox"] {
    width: 22px;
    height: 22px;
    /* margin-bottom: 4px; */
}

.botoes button{
    width: 300px;
    height: 50px;
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: larger;
    cursor: pointer;
}
/* div com a checkbox e o texto do lado */
.checkbox {
    display: flex;
    text-align: left;
    height: 20px;
    align-items: center;
    padding: 0%;
    gap: 8px;
}
/* ANIMACAO DA ONDA */

section
{   
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;

}

section .wave
{
    position: fixed;
    right: 36%;
    width: 100%;
    height: 100px;
    background: url(../imagens/ondas/ondaSolida.png);
    background-size: 1000px 100px;
    transform: rotate(90deg) scaleY(-1)
}

section .wave.wave1
{
    top: 0;
    animation: animacao 10s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;


}

.profileIconEditContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profileIconEditContainer h1{
    position: absolute;
    font-size: 18px;
    width: max-content;
    top: -40px;
}

.profileIconEditContainer input{
    display: none;
}

.profileIconWrapper{
    position: relative;
}

.profileIconWrapper label{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 32px;
    cursor: pointer;
}

.profileIconWrapper i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile-pic {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 3px solid #000000;
}

@keyframes animacao
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
@media (max-width: 1750px) {
    .pagina {
        flex-direction: column;
        height: 100%;
    }
    .wave {
        display: none;
    }
    .Decoracao {
        width: 100%;
        height: 80px;
        margin: 0px;
        padding: 0px 50px;
    }
    .dados {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 5fr;
    }
    .organização {
        width: 100%;
    }
    section {
        height: 80px;
        width: 100%;
    }
    .embaixo {
        margin-bottom: 10px;
    }
}
@media (max-width: 1300px){
    .dados {
        grid-template-columns: 1fr;
        grid-template-rows: 9fr;
        -ms-grid-row-align: center;
    }
    .embaixo {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        -ms-grid-row-align: center;
    }
    .botoes {
        width: 100%;
    }
    .Decoracao {
        width: 100%;
        margin: 0px;
        padding: 0px 50px;
    }
    .caixa_texto {
        margin-left: none;
    }
    form {
        width: 720px;
    }


}
@media (max-width: 1100px) {
    .Decoracao {
        width: 100%;
    }
}
@media (max-width: 975px) {
    form {
        width: 490px;
    }
    .Cadastro {
        margin: 50px;
    }
}
@media (max-width: 450px) {
    form {
        width: 330px;
    }
    .Cadastro {
        margin: 50px;
    }
    .caixa_texto {
        width: 330px;
        margin: 0px;
    }
}