@import url(styles.css);

*
{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body
{
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: #F8F8F8;
}

a
{
    text-decoration: none;
}

/* PARTE DA DIREITA CONTAINER GERAL */

#main
{
    height: 100vh;
    margin-left: 287px;
}

#container{
    box-sizing: border-box;
    width: 100%;
    padding-left: 60px;
    padding-top: 120px;
}

/* estilizacao das informacoes principais */

#titulo
{
    display: flex;
    margin-bottom: 15px;
}

#tituloH1{
    font-size: 36px;
}

#geralInformacoes
{
    display: flex;
    justify-content: space-between;
}

#valorVendas, #lucroLiquido, #vendas
{
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #14A166;
    border-radius: 15px;
    padding: 10px;
    height: 150px;
    width: 450px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#lucroLiquido
{
    background-color: #A41FA6;
}

#vendas
{
    background-color: #3449B6;  
}

#imagemInforma
{
    width: 40px;
    height: 40px;
}

#imagemInformaEstilizacao
{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 15px;
    align-items: center;
    background-color: white;
}

#textoTituloInform, #valorInform
{
    margin-left: 5px;
    color: white;
}

#textoInformacao
{
    margin-left: 10px;
    width: 100%;
}

#controleImagemInform
{
    display: flex;
    flex-direction: row-reverse;
    width: 20%;
    height: 100%;
    margin-right: 5px;
    align-items: center;
}

/* PARTE DAS PIZZAS */

#controlePizzas
{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
}

#divPizzaEsquerda, #divPizzaDireita
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 470px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

#divControladoraTexto
{
    display: flex;
    font-family: "Montserrat", sans-serif;
    align-items: flex-start
}

#tituloPizza
{
    margin: 15px 0px 0px 20px;
    font-family: "Montserrat", sans-serif;
}

#selecionador
{
    display: flex;
    flex-direction: column;
    margin: 20px 50px 0px 0px;
}

#ajusteSelecionador
{
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 1280px) {
    #main
    {
        margin-left: 250px;
    }
}


@media (max-width: 1024px)
{
    #main
    {
        margin-left: 230px;
    }

    #container{
        padding-left: 35px;
    }

    #iconUsuario
    {
        width: 350px;
    }

    #geralInformacoes
    {
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #valorVendas, #lucroLiquido, #vendas
    {
        width: 300px;
        height: 100px;
        font-size: 10px;
    }

    #imagemInformaEstilizacao
    {
        height: 60px;
    }

    #controlePizzas
    {
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin: 50px 0px 0px 0px;
        align-items: center;
    }

    #divPizzaDireita{
        margin-bottom: 50px;
    }

    #divPizzaEsquerda, #divPizzaDireita{
        width: 550px;
    }
}

@media (max-width: 800px)
{

    #container{
        box-sizing: border-box;
        width: 100%;
        padding-left: 0;
        padding-top: 0;
    }

    #main
    {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    #controleIcon
    {
        margin: 0;
        justify-content: right;
    }

    #iconUsuario
    {
        width: 300px;
    }

    #valorVendas, #lucroLiquido, #vendas
    {
        width: 80%;
        font-size: 8px;
        gap: 0;
    }

    #imagemInformaEstilizacao
    {
        width: 60px;
    }

    #geralInformacoes
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 30px;
    }

    #controlePizzas
    {
        display: flex;
        gap: 50px;
        margin: 50px 0px 0px 0px;
        align-items: center;
    }

    #divPizzaEsquerda, #divPizzaDireita{
        width: 80%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: row;
    }

}

/* RESPONSIVIDADE MOBILE MAX 425PX */
@media (max-width: 425px){ 
    #container{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
    }
    
    #tituloH1{
        font-size: 2rem;
        margin-top: 68px;
    }

    #titulo{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #geralInformacoes
    {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    #controlePizzas
    {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0;
        gap: 20px;
    }

    #divPizzaEsquerda, #divPizzaDireita{
        width: 90%;
        height: 330px;
    }
}

/* RESPONSIVIDADE TABLET MAX 768PX */
@media (min-width: 426px) and (max-width: 768px){ 
    #container{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
    }
    
    #tituloH1{
        font-size: 2rem;
        margin-top: 68px;
        margin-left: 78px;
    }

    #titulo{
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: center;
    }

    #geralInformacoes
    {
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    #valorVendas, #lucroLiquido, #vendas{
        width: 26%;
    }

    #imagemInformaEstilizacao{
        height: 40px;

        & img{
            width: 20px;
            height: 20px;
        }
    }

    #textoInformacao{
        margin: 0px;
    }

    #controlePizzas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px 0 0 0;
        gap: 20px;
    }

    #divPizzaEsquerda, #divPizzaDireita{
        width: 40%;
        height: 330px;
        margin-bottom: 0;
    }
}

/* RESPONSIVIDADE LAPTOP MAX 1024PX */
@media (min-width: 769px) and (max-width: 1024px){ 
    #container{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        padding-left: 0px;
    }
    
    #tituloH1{
        font-size: 2rem;
        margin-top: 0px;
        margin-left: 32px;
    }

    #textoTituloInform, #valorInform{
        width: 150px;
    }

    #titulo{
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: center;
    }

    #geralInformacoes
    {
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    #valorVendas, #lucroLiquido, #vendas{
        width: 30%;
    }

    #imagemInformaEstilizacao{
        width: 40px;
        height: 40px;

        & img{
            width: 20px;
            height: 20px;
        }
    }

    #textoInformacao{
        margin: 0px;
    }

    #controleImagemInform{
        margin-right: 30px;
    }

    #controlePizzas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px 0 0 0;
        gap: 20px;
    }

    #divPizzaEsquerda, #divPizzaDireita{
        width: 46%;
        height: 330px;
        margin-bottom: 0;
    }
}

/* RESPONSIVIDADE LAPTOP MAX 1440PX */
@media (min-width: 1025px) and (max-width: 1440px){
    #geralInformacoes{
        gap: 8px;
    }

    #valorVendas, #lucroLiquido, #vendas{
        width: 340px;
        height: 120px;
    }
    
    #textoTituloInform, #valorInform{
        font-size: 1em;
    }
    
    #controlePizzas{
        gap: 20px;
        width: 1050px;
        margin-top: 32px;
    }
    
    #divPizzaEsquerda, #divPizzaDireita{
        width: 550px;
    }
    
    #imagemInformaEstilizacao{
        width: 60px;
        height: 60px;
        
        & img{
            width: 40px;
            height: 40px;
        }
    }
}

/* RESPONSIVIDADE PC 4k */
@media (min-width: 1441px){
    #geralInformacoes{
        gap: 16px;
    }

    #controlePizzas{
        gap: 20px;
    }
}