@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #f8f8f8;
}

main{
    padding-top: 150px;
    height: 100vh;
    box-sizing: border-box;
}

.tituloEditarConta {
    text-align: center;
    margin-bottom: 8px;
    font-size: 38px;
    font-weight: 300;
}

.line-out{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
} .line{
    background-color: black;
    width: 70%;
    height: 2px;
}

.dadosUsuarioForm{
    display: flex;
    flex-direction: column;
    gap: 22px;
    height: 100%;
    flex: 1;
    justify-content: space-between;
    padding: 24px;
}

.dadosUsuarioFormInputs p {
    margin-bottom: 8px;
}

.dadosUsuarioFormInputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 36px;
    column-gap: 32px;
    margin-top: 26px;
}

.dadosAcoesContainer{
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.conta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    padding: 20px 15%;
}

.profile-card {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.saveButton, .cancelEditButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 19px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s;
    padding: 8px 10px;
    border: 0;
    color: #ffffff;

    i {
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.saveButton:hover, .cancelEditButton:hover{
    transform: scale(1.05);
}

.editButtonText{
    padding-right: 8px;
    color: rgb(255, 255, 255);
}

.formControl {
    position: relative;
}

.formControl label{
    position: absolute;
    top: 8px;
    left: 0;
    color: black;
    transition: 0.2s ease-in-out;
    font-size: 20px;
    font-weight: 700;
    pointer-events: none;
}

.formInput{
    width: 100%;
    height: 34px;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 18px;
    color: black;
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
    background: transparent;
}

.formControl .formInput:focus + label,
.formControl .formInput:valid + label {
    top: -15px;
    font-size: 16px;
    color: black;
}

@media (max-width: 1200px){ /*Computador*/
    main{
        padding-top: 120px;
    }

    .dadosUsuarioFormInputs {
        grid-template-columns: 1fr;
    }

    .conta-container {
        padding: 20px 10%;
    }

    .line-out{
        margin-bottom: 24px;
    }

    .formControl label{
        font-size: 18px;
    }

}

@media (max-width: 768px){ /*Celular Paisagem*/
    main{
        padding-top: 100px;
    }

}

@media (max-width: 576px){ /*Celular Vertical*/
    .conta-container {
        padding: 20px 6%;
    }

    .dadosAcoesContainer{
        flex-direction: column-reverse;
        width: 100%;
    }

    .edit-profile-button, .delete-profile-button{ 
        flex: 1;
    }

}