/*RESET ESTILIZAÇÃO PADRÃO*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container{
    display: flex;
    justify-content: center;
    position: relative;
}

.degradeTopo, .degradeBaixo{
    position: absolute;
    height: 20px;
    width: 100%;
}

.degradeTopo{
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgba(255, 255, 255, 0) 100%);
    top: 0;
}

.degradeBaixo{
    background-image: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgba(255, 255, 255, 0) 100%);
    bottom: 0;
}

.sliderContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container{
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    gap: 8px;
}

.line{
    width: 50%;
    border-bottom: black 2px solid;
}

.title{
    display: flex;
    justify-content: center;
}

.title h1{
    font-size: 38px;
    font-weight: 300;
    text-align: center;
}

/*CONTAINER DE SCROOL*/

.card-container{
    width: 100%;
    height: 70vh;
    max-width: 1472px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: auto;
}

.card-container::-webkit-scrollbar{
   display: none;
}

.card-container::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 5px;
}

/*COLUNA COM OS NOMES (PRODUTOS E PRECO)*/

.cont-legend{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-legend{
    display: grid;
    width: 1475px;
    grid-template-columns: 100px 100px;
    font-size: 18px;
    gap: 120px;
}

.produto{
    text-align: center;
}

.preco{
    text-align: center;
}

/*RESPONSIVIDADE DA LEGENDA (PRODUTOS) E (PRECO)*/

@media (max-width: 1480px){
    .cards-legend{
        display: grid;
        width: 1072px;
        grid-template-columns: 100px 100px;
        font-size: 18px;
        gap: 70px;
    }

}

@media (max-width: 1080px){
    .cards-legend{
        display: grid;
        width: 672px;
        grid-template-columns: 50px 50px;
        font-size: 16px;
        gap: 55px;
    }
}   

@media (max-width: 680px){
    .cont-legend{
        padding-left: 10px;
        justify-content: flex-start;
    }
    .cards-legend{
        display: grid;
        width: 400px;
        grid-template-columns: 50px 50px;
        font-size: 14px;
        gap: 35px;
    }
}  

/*ESTILIZAÇÃO DOS CARDS*/
/*CARD 01*/

.cardDesejos:first-child{
    margin-top: 20px;
}

.cardDesejos:last-child{
    margin-bottom: 20px;
}

.cardDesejos{
    display: grid;
    grid-template-columns: 150px auto auto auto auto;
    height: 122.19px;
    background: linear-gradient(to right, #3F7FD9, #81ABE6, #C0D5F3, #FFFFFF);
    border-radius: 10px;
    box-shadow: 0px 0px 6.5px inset rgb(110, 110, 110);
    border-radius: 35px;
}

.cardImg img{
    width: 125px;
}

.cardImg{
    display: flex;
    justify-content: center;
}

.cardPreco{
    margin: auto;
    display: flex;
    justify-content: center;
}

.cardInfo{
    margin: auto;
    display: flex;
    justify-content: left;
    font-size: 15px;
    overflow-wrap: break-word;
    text-wrap: wrap;
}

.cardInfo p{
    overflow-wrap: break-word;
    text-wrap: wrap;
}

.cardDate{
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 17px;
}

/*CARD 02*/

.card02{
    background: linear-gradient(to right, #D29065, #E1B598, #EED6C6, #FFFFFF);
}

/*CARD 03*/

.card03{
    background: linear-gradient(to right, #31BADA, #B9643A, #FFFFFF);
}

/*CARD 04*/

.card04{
    background: linear-gradient(to right, #D29065, #FFFFFF);
}

.cardButtons{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 12px;
}

.cardButtons .buttonDesejos{
    background: transparent;
    border: none;
    width: 45px;
    height: 45px;
    font-size: 34px;
    cursor: pointer;
}

.cardButtons .buttonDesejos img{
    width: 45px;
    height: 45px;
}



/*BUTTONS*/

.button-container{
    display: flex;
    justify-content: space-between;
    /* gap: 57%; */
    margin: 75px 200px 75px 200px;
}

/*RESPONSIVIDADE DOS BUTTONS*/

@media (max-width: 850px){
    .button-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0px;
        margin-top: 75px;
    }

    .button01{
        display: flex;
        justify-content: center;
    }

    .button02{
        display: flex;
        justify-content: center;
    }
}

/*ESTILIZAÇÃO DO BOTÃO*/
/*BOTÃO 01*/

.button01 button{
    display: flex;
    width: 225px;
    height: 55px;
    background: linear-gradient(to right, #000000, #666666);
    border: none;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 2px 5px black;
}

.button01 img{
    margin: auto;
    width: 42px;
}

.button01 p{
    margin: auto;
}

/*BOTÃO 02*/

.button02 button{
    display: flex;
    width: 180px;
    height: 38px;
    background: linear-gradient(to right, #000000, #666666);
    border: none;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 2px 5px black;
}

.button02 p{
    margin: auto;
}

.line2{
    width: 75%;
    border-bottom: black 3px solid;
    margin-top: 100px;
}

/*RESPONSIVIDADE GERAL*/

/*01*/
@media (max-width: 1480px){
    .card-container{
        max-width: 1072px;
    }
}

/*02*/
@media (max-width: 1080px){
    .card-container{
        max-width: 672px;
        padding: 0 16px;
    }

    .cardButtons{
        margin-left: 10px;
    }
}

/*03*/
@media (max-width: 680px){
    .card-container{
        padding: 0 10px;
    }

    .cardButtons{
        margin-right: 10px;
    }
}

/*04*/
@media (max-width: 410px){
    .card-container{
        max-width: 300px;
    }
}

/*RESPONSIVIDADE DO TITULO*/

@media (max-width: 992px){
    .title-container{
        margin-top: 100px;
    }
}
@media (max-width: 507px){
    .title h1{
        font-size: 28px;
        font-weight: 350;
        text-align: center;
    }

    .title-container{
        margin-bottom: 20px;
    }

    .cont-legend{
        display: none;
    }
}

/*RESPONSIVIDADE CARDS*/
/*02*/
@media (max-width: 1080px){
    /*card01*/
    .cardDesejos{
        display: grid;
        grid-template-columns: 95px auto auto auto auto;
        border-radius: 10px;
        box-shadow: 0px 0px 6.5px inset rgb(110, 110, 110);
        border-radius: 35px;
    }

    .cardPreco{
        font-size: 13px;
    }
    
    .cardInfo{
        font-size: 12px;
    }
    
    .cardDate{
        font-size: 14px;
    }

}

/*03*/
@media (max-width: 680px){
    /*card01*/
    .cardDesejos{
        display: grid;
        grid-template-columns: 85px auto auto auto auto;
        border-radius: 10px;
        box-shadow: 0px 0px 6.5px inset rgb(110, 110, 110);
        border-radius: 35px;
        align-items: center;
    }

    .cardImg img{
        width: 100px;
        height: 100px;
    }
    
    .cardPreco{
        font-size: 13px;
    }
        
    .cardInfo{
        font-size: 12px;
        padding: 10px;
    }
        
    .cardDate{
        font-size: 14px;
    }
    
}

/*04*/
@media (max-width: 580px){
    .cards-legend{
        display: none;
    }

    .cardDesejos{
        display: flex;
        height: auto;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0px 0px 6.5px inset rgb(110, 110, 110);
        border-radius: 35px;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
    }

    .cardImg img{
        width: 90px;
        height: 90px;
    }
    
    .cardPreco{
        font-size: 13px;
        position: relative;
        bottom: 10px;
    }
        
    .cardInfo{
        position: relative;
        font-size: 12px;
        bottom: 12px;
    }
        
    .cardDate{
        position: relative;
        font-size: 14px;
        bottom: 15px;
    }

    .cardCheck{
        display: flex;
        position: relative;
        bottom: 8px;
        justify-content: center;
    }

}




