/*RESET ESTILIZAÇÃO PADRÃO*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}


    /*ÁREA SUPERIOR: TÍTULO*/

.title-container{
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.title-container .title{
    display: flex;
    justify-content: center;
}

.title-container .title h1{
    font-size: 38px;
    font-weight: 300;
    text-align: center;
}

.title-container .line{
    width: 65%;
    border-bottom: black 2px solid;
}


    /*RESPONSIVIDADE DO TITULO*/

    @media(max-width:1220px){
        .title-container{
            margin-top: 140px;
        }
    }
    @media (max-width: 1110px){
        .title-container{
            margin-top: 130px;
        }
        .title-container .title h1{
            font-size: 34px;
            font-weight: 350;
        }
        .title-container .line{
            width: 65%;
        }
    }
    @media (max-width: 990px){
        .title-container{
            margin-top: 100px;
        }
    }
    @media (max-width: 770px){
        .title-container{
            margin-top: 120px;
        }
        .title-container .title h1{
            font-size: 30px;
        }
        .title-container .line{
            width: 70%;
        }
    }
    @media (max-width: 650px){
        .title-container .title h1{
            font-size: 28px;
        }
        .title-container .line{
            width: 75%;
        }
    }
    @media (max-width: 576px){
        .title-container{
            margin-bottom: 20px;
        }
        .title-container .title h1{
            font-size: 26px;
        }
        .title-container .line{
            width: 80%;
        }
    }




/*ÁREA DE SELECIONAR TODOS OS CHECKBOXES*/

.acoesWrapper{
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.acoesWrapper .acoesSelecionados{
    width: 1270px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: end;
    position: sticky;
    z-index: 1000;
    gap: 20px;
    
    background-color: transparent;
    padding-left: 0;
    
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.acoesWrapper .acoesSelecionados .inputCheck{
    height: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.acoesWrapper .acoesSelecionados .inputCheck label{
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
}

.acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"] {
    width: 14px;
    height: 14px;
    text-align: center;
    transform: scale(1.5);
    vertical-align: middle;
    appearance: none;
    background-color: #A6A6A6;
    border-radius: 20%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"]:checked {
    background-color: #A6A6A6;
    color: white; 
}

.acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"]:checked::before {
    content: "";
    background-image: url("../imagens/check.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: center;
    width: 14px;
    height: 14px;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.acoesWrapper .acoesSelecionados.ativo{
    visibility: visible;
    opacity: 1;
}

.acoesWrapper .acoesSelecionados .btnCheck{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.acoesSelecionados .btnCheck #adicionarCarrinho,
.acoesSelecionados .btnCheck #excluirSelecionados{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    border-radius: 30px;
    padding: 0 16px;
    height: 30px;
    background-color: transparent;
}

.acoesSelecionados .btnCheck #adicionarCarrinho:hover,
.acoesSelecionados .btnCheck #excluirSelecionados:hover{
    color: white;
    background-color: black;
}


    /*RESPONSIVIDADE DA ÁREA DE SELECIONADOS*/
    @media (max-width: 1665px){
        .acoesWrapper .acoesSelecionados{
            width: 1180px;
        }
    }
    @media (max-width: 1550px){
        .acoesWrapper .acoesSelecionados{
            width: 1080px;
        }
    }
    @media (max-width: 1440px){
        .acoesWrapper .acoesSelecionados{
            width: 980px;
        }
    }
    @media (max-width: 1330px){
        .acoesWrapper .acoesSelecionados{
            width: 890px;
        }
    }
    @media (max-width: 1220px){
        .acoesWrapper{
            height: 50px;
        }
        .acoesWrapper .acoesSelecionados{
            width: 800px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck{
            height: 28px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck label{
            font-size: 14px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"] {
            width: 13px;
            height: 13px;  
        }
        .acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"]:checked::before {
            width: 13px;
            height: 13px;
        }
        .acoesSelecionados .btnCheck #adicionarCarrinho,
        .acoesSelecionados .btnCheck #excluirSelecionados{
            font-size: 14px;
            padding: 0 15px;
            height: 28px;
        }
    }
    @media (max-width: 1110px){
        .acoesWrapper{
            height: 45px;
        }
        .acoesWrapper .acoesSelecionados{
            width: 700px;
            gap: 17px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck{
            height: 26px;
            gap: 13px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck label{
            font-size: 13px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"] {
            width: 12px;
            height: 12px;  
        }
        .acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"]:checked::before {
            width: 12px;
            height: 12px;
        }
        .acoesWrapper .acoesSelecionados .btnCheck{
            gap: 15px;
        }
        .acoesSelecionados .btnCheck #adicionarCarrinho,
        .acoesSelecionados .btnCheck #excluirSelecionados{
            font-size: 13px;
            padding: 0 14px;
            height: 26px;
        }
    }
    @media (max-width: 990px){
        .acoesWrapper{
            height: 40px;
        }
        .acoesWrapper .acoesSelecionados{
            width: 600px;
            gap: 15px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck{
            height: 23px;
            gap: 13px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck label{
            font-size: 12px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"] {
            width: 11px;
            height: 11px;  
        }
        .acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"]:checked::before {
            width: 11px;
            height: 11px;
        }
        .acoesWrapper .acoesSelecionados .btnCheck{
            gap: 11px;
        }
        .acoesSelecionados .btnCheck #adicionarCarrinho,
        .acoesSelecionados .btnCheck #excluirSelecionados{
            font-size: 12px;
            padding: 0 12px;
            height: 23px;
        }
    }
    @media (max-width: 880px){
        .acoesWrapper .acoesSelecionados{
            width: 460px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck label{
            font-size: 14px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"] {
            width: 12px;
            height: 12px;  
        }
        .acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"]:checked::before {
            width: 12px;
            height: 12px;
        }
        .acoesSelecionados .btnCheck #adicionarCarrinho,
        .acoesSelecionados .btnCheck #excluirSelecionados{
            font-size: 14px;
        }
    }
    @media (max-width: 770px){
        .acoesWrapper{
            height: 60px;
        }
        .acoesWrapper .acoesSelecionados{
            width: 440px;
            margin-left: 60px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck{
            height: 40px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck label{
            font-size: 15px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"] {
            width: 13px;
            height: 13px;  
        }
        .acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"]:checked::before {
            width: 13px;
            height: 13px;
        }
        .acoesWrapper .acoesSelecionados .btnCheck{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 13px;
        }
        .acoesSelecionados .btnCheck #adicionarCarrinho,
        .acoesSelecionados .btnCheck #excluirSelecionados{
            font-size: 15px;
            height: 40px;
            line-height: 1;
        }
        .acoesSelecionados .btnCheck #adicionarCarrinho{
            width: 130px;
        }
    }
    @media (max-width: 650px){
        .acoesWrapper .acoesSelecionados{
            width: 380px;
            gap: 17px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck{
            height: 38px;
            gap: 11px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck label{
            font-size: 14px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"] {
            width: 12px;
            height: 12px;  
        }
        .acoesWrapper .acoesSelecionados .inputCheck input[type="checkbox"]:checked::before {
            width: 12px;
            height: 12px;
        }
        .acoesWrapper .acoesSelecionados .btnCheck{
            gap: 12px;
        }
        .acoesSelecionados .btnCheck #adicionarCarrinho,
        .acoesSelecionados .btnCheck #excluirSelecionados{
            font-size: 14px;
            height: 38px;
        }
        .acoesSelecionados .btnCheck #adicionarCarrinho{
            width: 120px;
        }
    }
    @media (max-width: 576px){
        .acoesWrapper{
            height: 40px;
        }
        .acoesWrapper .acoesSelecionados{
            width: 340px;
            gap: 14px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck{
            height: 36px;
        }
        .acoesWrapper .acoesSelecionados .inputCheck label{
            font-size: 13px;
        }
        .acoesSelecionados .btnCheck #adicionarCarrinho,
        .acoesSelecionados .btnCheck #excluirSelecionados{
            font-size: 13px;
            height: 36px;
        }
        .acoesSelecionados .btnCheck #adicionarCarrinho{
            width: 110px;
        }
    }




/*ÁREA DO CONTAINER COM O CONTEÚDO DOS CARDS DA LISTA*/

.container{
    display: flex;
    justify-content: center;
    position: relative;
}

.container .degradeTopo, 
.container .degradeBaixo{
    position: absolute;
    z-index: 10;
    height: 15px;
    width: 100%;
}

.container .degradeTopo{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(255, 255, 255, 0.932), rgba(255, 255, 255, 0.832), rgba(255, 255, 255, 0.632), rgba(255, 255, 255, 0.432), rgba(255, 255, 255, 0.232), rgba(255, 255, 255, 0));
    top: 0;
}

.container .degradeBaixo{
    background-image: linear-gradient(to top, rgba(255, 255, 255), rgba(255, 255, 255, 0.932), rgba(255, 255, 255, 0.832), rgba(255, 255, 255, 0.632), rgba(255, 255, 255, 0.432), rgba(255, 255, 255, 0.232), rgba(255, 255, 255, 0));
    bottom: 0;
}

.container .card-container{
    max-height: 70vh;
    min-height: 15vh;
    max-width: 1672px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow: auto;
    z-index: 1;
}

.container .card-container::-webkit-scrollbar{
   display: none;
}

.container .card-container::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 5px;
}

.paginacao{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

    /*RESPONSIVIADE DESSA ÁREA*/

    @media (max-width: 1220px){
        .container .card-container{
            height: 65vh;
        }
    }
    @media (max-width: 990px){
        .container .card-container{
            height: 60vh;
        }
    }
    @media (max-width: 880px){
        .container .card-container{
            height: 55vh;
        }
    }
    @media (max-width: 650px){
        .container .card-container{
            height: 50vh;
        }
    }
    @media (max-width: 576px){
        .container .card-container{
            height: 45vh;
        }
    }



/*ÁREA DE SUGESTÃO*/

.line2{
    width: 65%;
    border-bottom: black 3px solid;
    margin-top: 60px;
}

.sliderContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


    /*RESPONSIVIADE DESSA ÁREA*/
    @media (max-width: 1220px){
        .line2{
            margin-top: 90px;
        }
    }
    @media (max-width: 990px){
        .line2{
            margin-top: 80px;
        }
    }
    @media (max-width: 880px){
        .line2{
            margin-top: 70px;
        }
    }
    @media (max-width: 650px){
        .line2{
            margin-top: 60px;
        }
    }
