/*RESET ESTILIZAÇÃO PADRÃO*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}


    /*ÁREA SUPERIOR: TÍTULO*/

.title-container{
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    gap: 8px;
}

.title-container .title{
    display: flex;
    justify-content: center;
}

.title-container .title h1{
    font-size: 38px;
    font-weight: 300;
    text-align: center;
}

.title-container .line{
    width: 60%;
    border-bottom: black 2px solid;
}


    /*RESPONSIVIDADE DO TITULO*/

    @media(max-width:1220px){
        .title-container{
            margin-top: 140px;
        }
    }
    @media (max-width: 1110px){
        .title-container{
            margin-top: 130px;
        }
        .title-container .title h1{
            font-size: 34px;
            font-weight: 350;
        }
        .title-container .line{
            width: 65%;
        }
    }
    @media (max-width: 990px){
        .title-container{
            margin-top: 100px;
        }
    }
    @media (max-width: 770px){
        .title-container .title h1{
            font-size: 30px;
        }
        .title-container .line{
            width: 70%;
        }
    }
    @media (max-width: 650px){
        .title-container .title h1{
            font-size: 28px;
        }
        .title-container .line{
            width: 75%;
        }
    }
    @media (max-width: 576px){
        .title-container{
            margin-bottom: 20px;
        }
        .title-container .title h1{
            font-size: 26px;
        }
        .title-container .line{
            width: 80%;
        }
    }




/*ÁREA DE SELECIONAR TODOS OS CHECKBOXES*/

.acoesWrapper{
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.acoesWrapper .acoesSelecionados{
    width: 1270px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    position: sticky;
    z-index: 1000;
    gap: 20px;
    
    background-color: transparent;
    /* background-color: aqua; */
    padding-top: 40px;
    padding-left: 0;
    
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.acoesWrapper .acoesSelecionados .inputCheck label{
    margin-left: 10px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    text-align: center;
    transform: scale(1.5);
    vertical-align: middle;
    appearance: none;
    background-color: #A6A6A6;
    border-radius: 20%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
}

input[type="checkbox"]:checked {
    background-color: #A6A6A6;
    color: white; 
}

input[type="checkbox"]:checked::before {
    content: url("../imagens/check.png");
    width: 16px;
    height: 16px;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.acoesWrapper .acoesSelecionados .selecionarTodos{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.acoesWrapper .acoesSelecionados.ativo{
    visibility: visible;
    opacity: 1;
}

.acoesWrapper .acoesSelecionados .btnCheck{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.acoesSelecionados .btnCheck #adicionarCarrinho,
.acoesSelecionados .btnCheck #excluirSelecionados{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    border-radius: 30px;
    padding: 4px 16px;
    background-color: transparent;
}

.acoesSelecionados .btnCheck #adicionarCarrinho:hover,
.acoesSelecionados .btnCheck #excluirSelecionados:hover{
    color: white;
    background-color: black;
}


    /*RESPONSIVIDADE DA ÁREA DE SELECIONADOS*/
    @media (max-width: 1665px){
        .acoesWrapper .acoesSelecionados{
            width: 1180px;
        }
    }
    @media (max-width: 1550px){
        .acoesWrapper .acoesSelecionados{
            width: 1080px;
        }
    }
    @media (max-width: 1440px){
        .acoesWrapper .acoesSelecionados{
            width: 980px;
        }
    }
    @media (max-width: 1330px){
        .acoesWrapper .acoesSelecionados{
            width: 890px;
        }
    }
    @media (max-width: 1220px){
        .acoesWrapper .acoesSelecionados{
            width: 800px;
        }
    }
    @media (max-width: 1110px){
        .acoesWrapper .acoesSelecionados{
            width: 700px;
        }
    }
    @media (max-width: 990px){
        .acoesWrapper .acoesSelecionados{
            width: 600px;
        }
    }
    @media (max-width: 880px){
        .acoesWrapper .acoesSelecionados{
            width: 460px;
        }
    }
    @media (max-width: 770px){
        .acoesWrapper .acoesSelecionados{
            width: 380px;
        }
    }
    @media (max-width: 650px){
        .acoesWrapper .acoesSelecionados{width: 320px;}
    }




/*ÁREA DO CONTAINER COM O CONTEÚDO DOS CARDS DA LISTA*/

.container{
    display: flex;
    justify-content: center;
    position: relative;
}

.degradeTopo, .degradeBaixo{
    position: absolute;
    z-index: 10;
    height: 20px;
    width: 100%;
}

.degradeTopo{
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgba(255, 255, 255, 0) 100%);
    top: 0;
}

.degradeBaixo{
    background-image: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgba(255, 255, 255, 0) 100%);
    bottom: 0;
}

.card-container{
    /* background-color: blueviolet; */
    height: 70vh;
    max-width: 1672px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    overflow: auto;
    z-index: 1;
}

.card-container::-webkit-scrollbar{
   display: none;
}

.card-container::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 5px;
}


    /*RESPONSIVIADE DESSA ÁREA*/

    /* @media (max-width: 1480px){
        .card-container{
            max-width: 1072px;
        }
    } */
    
    /*02*/
    /* @media (max-width: 1080px){
        .card-container{
            max-width: 672px;
            padding: 0 16px;
        }
    
        .cardButtons{
            margin-left: 10px;
        }
    } */
    
    /*03*/
    @media (max-width: 680px){
        .card-container{
            padding: 0 10px;
        }
    
        .cardButtons{
            margin-right: 10px;
        }
    }

    /*04*/
    @media (max-width: 410px){
        .card-container{
            max-width: 300px;
        }
    }





/*ÁREA DE SUGESTÃO*/

.line2{
    width: 75%;
    border-bottom: black 3px solid;
    margin-top: 100px;
}

.sliderContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
