*
{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/*inputs de erro*/
.input-erro{
    border-bottom: 2px rgb(224, 0, 0) solid !important;
}

.label-erro{
    color: rgb(224, 0, 0) !important;
}
/**/

#container{
    display: flex;
    height: 100vh;
}

/* PARTE BRANCA (ESQUERDA) */

#parteBranca
{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%; 
}

#bemVindo
{   
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

hr
{
    margin-top: 0px;
    width: 500px;
    height: 2px;
    background-color: black;
    color: black;
}


#esqueciSenha
{   
    width: 100%;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    text-align: end;
    margin-top: 20px;
    font-size: 18px;
}

#botaoEntrar
{
    background-color: black;
    color: white;
    width: 60%;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 12px;
    margin-top: 40px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Suaviza o aumento */

}

#cadastro
{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

#cadastroClique
{
    font-weight: bolder;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

#voltarSair
{
    position: fixed;
    display: flex;
    align-items: center;
    top: 32px;
    font-size: 20px;
    left: 42px;
    gap: 12px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 8px;
}

#voltar
{   
    font-weight: 600;
    text-decoration: none;
    color: black;
}

/* PARTE PRETA (DIREITA) */

#fotoET
{
    margin-left: 15%;
    width: 75%;
    height: auto;
}


/* PARTE DA ANIMACAO DOS INPUTS */

.formContainer{
    width: 65%;
    display: flex;
    flex-direction: column;
}

form
{
    width: 100%;
    box-sizing: border-box;
}

.email-input, .recoverPassword-input
{
    position: relative;
    font-weight: bolder;
}

.senha-input
{
    position: relative;
    margin-top: 60px;
    font-weight: bolder;
}

.email-input label, .senha-input label, .recoverPassword-input label
{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: black;
    cursor: text;
    transition: 0.2s ease-in-out;
    font-size: 20px;
    pointer-events: none;
}

.input
{
    width: 100%;
    padding: 5px;
    border: 0;
    background: transparent;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 20px;
    color: black;
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
}

.input:focus,
.input:valid
{
    border-bottom: 2px solid black;
}

.input:focus ~ label,
.input:valid ~ label
{
    transform: translateY(-28px);
    font-size: 16px;
    color: black;
}

/* PARTE DA ANIMACAO DO BOTAO */

#botaoEntrar:hover{
    transform: scale(1.05);
}


/* PARTE DA ANIMACAO DA ONDA */

section
{   
    display: flex;
    position: relative;
    width: 110%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}

section .wave
{
    position: fixed;
    left: -15%;
    width: 130%;
    height: 120px;
    background: url(../imagens/ondas/ondaSolida.png);
    background-size: 1000px 120px;
    transform: rotate(90deg) /*scaleX(-1)*/;
    animation: animacao 10s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
}

#esqueciSenha{
    border: 0;
    background: transparent;
    width: max-content;
    align-self: flex-end;
    cursor: pointer;
}

.topoPopUp{
    display: flex;
    width: 100%;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.tituloPopUp{
    font-size: 28px;
}

.fecharPopUp{
    display: block;
    align-self: auto;
}

.tituloPopUp{
    width: max-content;
}

.wrapperPopUp{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.recoverPasswordButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 19px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s;
    padding: 8px 10px;
    border: 0;
    color: #ffffff;
    align-self: flex-end;

    i {
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.recoverPasswordButton:hover{
    transform: scale(1.05);
}

.recoverPasswordButtonText{
    color: rgb(255, 255, 255);
}

#fotoETPreta{
    display: none;
}

@keyframes animacao
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

@media (max-width: 870px){

    #fotoETPreta{
        display: flex;
        justify-self: center;
        height: 120px;
        margin-bottom: 10px;
    }

    #container{
        flex-direction: column;
        justify-content: center;
    }

    section .wave{
        display: none;
    }

    section{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        background-color: transparent;
    }

    picture{
        display: none;
    }

    #bemVindo{   
        font-size: 40px;
    }
}

@media (max-width: 650px){

    .formContainer{
        width: 80%;
    }

}

@media (max-width: 415px){

    #bemVindo{
        font-size: 26px;
        margin-bottom: 40px;
    }

    .email-input label, .senha-input label, .recoverPassword-input label
{
    font-size: 16px;
}
    
    .campo-campo-container input:focus + label,
    .campo-campo-container input:valid + label {
        font-size: 16px;
    }
}
