@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
}

main{
    padding-top: 150px;
    height: 100vh;
}

.menu i, .icons i {
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.tituloMinhaConta {
    /* margin-top: 150px; */
    text-align: center;
    margin-bottom: 8px;
    font-size: 38px;
    font-weight: 300;
}

.line-out{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
} .line{
    background-color: black;
    width: 1350px;
    height: 1px;
}

.dadosUsuario{
    display: flex;
    flex-direction: column;
    gap: 22px;
    height: 100%;
    flex: 1;
    justify-content: space-between;
    padding: 24px;
    padding-left: 50px;
}

.dadosUsuarioContainer p {
    margin-bottom: 8px;
}

.dadosUsuarioContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 18px;
}

.dadosAcoesContainer{
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.option-card p{
    margin: 16px 0px;
}

.conta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    padding: 20px 320px;
    /* height: 400px; */
}

.profile-card {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.edit-profile-container{
    text-decoration: none;
}

.edit-profile-button, .delete-profile-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 19px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.3s;
    padding: 8px 10px;
    border: 0;
    color: #ffffff;

    i {
        font-size: 20px;
    }
}

.edit-profile-button:hover, .delete-profile-button:hover{
    transform: scale(1.05);
}

#edit-profile-text{
    padding-right: 8px;
    color: rgb(255, 255, 255);
}

.content-nameUser, .content-email, .content-excluirConta {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p, span{
        font-size: 15px;
    }
}

.content-excluirConta{
    a{
        color: black;
    }
}

.profile-pic {
    margin-left: 56px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #ccc;
}

.opcoes-conta {
    display: grid;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;

    & a{
        text-decoration: none;
        color: black;
        height: 200px;
    }
}  

.option-card {
    background: white;
    padding: 20px;
    flex: 1;
    /* width: 314px; */
    height: 10pc;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 10px;
}

.option-card:hover {
    background-color: #e9e9e9;
    cursor: pointer;
}

.option-card .icon i {
    font-size: 48px;
    color: #555;
    padding: 0 24px 0 16px;
}


