* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* PARTE INICIAL */
.Topo {
    position: relative;
    height: 500px;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.tituloWrapper{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Titulo {
    color: white;
    font-size: 150px;
    padding-bottom: 120px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 4px black);
    user-select: none;
}

.Titulo img {
    position: absolute;
    z-index: 3;
}

/* PARTE DOS PRODUTOS */
.Produtos {
    position: relative;
    gap: 24px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
}

.filtro-botao, .form{
    width: 100%;
}

.aVenda {
    display: flex;
    flex-direction: column;
    /* margin: 0px 0px 0px 75px; */
}

.filtroSeparado {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 285px;
}

.PartedeCima { 
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.PartedeCima h3{
    font-weight: 400;
    font-size: 36px
}

.PartedeBaixo {
    display: grid;
    row-gap: 40px;
    column-gap: 25px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ONDA (só uma partezinha) */
.wave.solida {
    width: 100%;
    bottom: -100px;
}

.wave.fantasma {
    width: 100%;
    bottom: -100px;
}

@media (max-width: 1750px) {
    .PartedeBaixo {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0px;
    }
    .Titulo {
        width: 100vw;
        font-size: 4.5rem;
    }
    .filtroSeparado {
        margin-left: 5px;
        margin-top: 0px;
    }

    .Topo {
        height: 400px;
    }
}
@media (max-width: 1320px) {
    .PartedeBaixo {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 1050px) {
    .PartedeBaixo {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        display: column;
        align-self: center;
    }
    .Produtos {
        flex-direction: column;
        margin: 0px;
    }

    .TituloProdutos{
        margin-left: 2%;
    }

    .filtroSeparado {
        margin-right: 2%;
        width: 200px;
    }
}
@media (max-width: 990px) {
    .PartedeBaixo {
        grid-template-columns: 1fr 1fr;
        display: column;
        align-self: center;
    }

    .wave.fantasma {
        width: 100%;
        bottom: -100px;
    }
    .wave.solida {
        width: 100%;
        bottom: -100px;
    }
}
@media (max-width: 612px) {
    .PartedeBaixo {
        grid-template-columns: 1fr;
        display: column;
        align-self: center;
    }

    .Titulo {
        height: 450px;
        width: 100vw;
        background-position: center;
        font-size: 60px;
    }

    .ColunsCategoria {
        padding: 0px;
        width: 100vw;
    }

    .TituloProdutos{
        margin-left: 1%;
    }

    .filtroSeparado {
        margin-right: 1%;
    }
}

@media (max-width: 412px) {

    .PartedeBaixo {
        grid-template-columns: 1fr;
    }

    .filtroSeparado{
        width: 160px;
    }

    .Titulo {
        height: 450px;
        width: 100vw;
        background-position: center;
        font-size: 45px;
    }

    .ColunsCategoria {
        padding: 0px;
        width: 100vw;
    }

    .TituloProdutos{
        font-size: 15px;
    }
}

@media (max-width: 320px) {

    .PartedeBaixo {
        grid-template-columns: 1fr;
  
    }

    .Titulo {
        height: 450px;
        width: 100vw;
        background-position: center;
        font-size: 2.5rem;
    }

    .aVenda {
        margin-left: 5px;
    }
    .ColunsCategoria {
        padding: 0px;
        width: 100vw;
    }
}

/*Paginação*/

.page{
    margin-top: 40px;
}

.pagin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: auto;
    height: auto;
    border-radius: 20px;
    gap: 10px;
    background-color: black;
    color: white;

    font-weight: bolder;
    font-size: 16px;
}

.pagin a{
    text-decoration: none;
    color: black;
}

.pagin p{
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
}

.pagin span{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.pagin span:hover{
    box-shadow: inset 0px 0px 10px;
    transition: 0.1s;
}

.pagin p:hover{
    box-shadow: inset 0px 0px 6px;
    font-size: 17px;
    transition: 0.3s;
}