@import url(./../componentes/tabelasAssociado_ADM/PedidosAssociado_ADM/pedidos.css);

*
{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: #F8F8F8;
}

a
{
    text-decoration: none;
}

/* PARTE DA DIREITA CONTAINER GERAL */

.logo{
    padding-bottom: 4px;
}

.main{
    margin-left: 287px;
}

#container
{
    gap: 15px;
    padding-left: 60px;
    box-sizing: border-box;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

#lista{
    margin-top: 15px;
}

#tituloH1{
    font-size: 36px;
}

.tresPontos {
    background: transparent;
    border: none;
}

.tresPontos img {
    cursor: pointer;
}

.modalDetalhesDoPedido table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    table-layout: fixed;
    border-radius: 20px;
    overflow: scroll;
}

.modalDetalhesDoPedido th,
.modalDetalhesDoPedido td {
    text-align: center;
    padding: 10px;
}

.modalDetalhesDoPedido th {
    font-size: 22px;
    background-color: black;
    color: white;
}

.modalDetalhesDoPedido td {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 0.1px solid #DADADA;
}

.tabela-produtos, .tabela-totais-associado {
    width: 100%;
    height: 220px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.resumo-final {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.modalDetalhesDoPedido {
    width: 1200px;
    padding: 10px;
    border: none;
    animation: fadein 0.5s ease-in-out forwards;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
}

.modalDetalhesDoPedido::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.containerHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}

.containerFechar {
    align-self: self-end;
}

.btn-fechar {
    background: transparent;
    border: none;
    cursor: pointer;
}

.dadosHeader {
    display: flex;
    gap: 20px;
    font-weight: 500;
}

.headerDetalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerBaixo {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

#componenteTabelaProdutos {
    width: 100%;
}

#componenteTotaisAssociados {
    display: flex;
    flex-direction: column;
}

.scroll-tbody {
    max-height: 200px;
    overflow-y: auto;
}

.scroll-tbody table {
    width: 100%;
    border-collapse: collapse;
}

.tabela-produtos table th,
.scroll-tbody table td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.tabela-body::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1280px) {
    .main{
        margin-left: 250px;
    }
}

@media (max-width: 1024px){
    .main{
        margin-left: 230px;
    }

    #container{
        padding-left: 35px;
    }
}

@media (max-width: 830px){
    .main{
        margin-left: 0;
    }

    #container{
        padding-left: 0;
        padding-top: 0;
        align-items: center;
    }
    #titulo{
        width: 100%;
    }

    .listaContainer{
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
        margin: 0 15px;
    }

    #lista{
        width: 100%;
    }

    th{
        font-size: 16px;
    }

    td{
        font-size: 14px;
    }

    #bordaEsquerda{
        width: 60px;
    }

    td:first-child{
        width: 60px;
    }
}