@import url(styles.css);
@import url(./../componentes/tabelasAssociado_ADM/PedidosAssociado_ADM/pedidos.css);

* {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: #F8F8F8;
}

a {
    text-decoration: none;
}

/* PARTE DA DIREITA CONTAINER GERAL */

.logo{
    padding-bottom: 4px;
}

.main{
    margin-left: 287px;
}

#container
{
    gap: 15px;
    padding-left: 60px;
    box-sizing: border-box;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

/* estilizacao da parte do icone do usuario */

#tituloH1{
    font-size: 36px;
}

#imagemFiltro {
    width: 40px;
    height: 40px;
}

.container-filtroEIcon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#lista {
    width: 97%;
    margin: 15px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#tabelaVendas {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    table-layout: fixed;
}

th, td {
    text-align: center;
}

th {
    padding: 2%;
    font-size: 24px;
}


td {
    padding: 2% 0;
    font-size: 20px;
    font-weight: bold;
}

tr {
    border-bottom: 0.1px solid #DADADA;
}

.tabela-body {
    max-height: 620px;
    max-width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabela-body::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1280px) {
    .main{
        margin-left: 250px;
    }
}

@media (max-width: 1024px) {
    .main{
        margin-left: 230px;
    }

    #container{
        padding-left: 35px;
    }

    .tabela-body {
        overflow-x: auto;
        max-width: 100%;
    }

    th, td {
        font-size: 18px;
        padding: 8px;
    }

    .btn-lista-associados {
        font-size: 14px;
    }

    .acoes-tabela img {
        width: 24px;
    }

    .td-lista-associados {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #tituloH1 {
        padding-top: 3px;
        font-size: 30px;
    }
}

@media (max-width: 800px) {
    .main{
        margin-left: 0;
    }

    #container{
        padding-left: 0;
        padding-top: 0;
        align-items: center;
    }

    #titulo{
        width: 100%;
    }

    #lista{
        width: 100%;
    }

    .listaContainer{
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
        margin: 0 15px;
    }

    th, td {
        font-size: 16px;
    }

    .btn-concluir-edicao {
        width: 100%;
    }

    .galeria-produtos {
        flex-direction: column;
        width: 100%;
    }

    .campos-editar {
        display: flex;
        flex-direction: column;
    }

    .divisao-esquerda {
        flex-direction: column;
    }

    .campo-small,
    .campo-large textarea {
        width: 100% !important;
    }

    .imagem-produto-container {
        height: auto;
    }
}