@import url(styles.css);
@import url(../componentes/tabelasAssociado_ADM/ProdutoADM/produto.css);

*
{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

body
{
    display: flex;
    margin: 0%;
    padding: 0%;
    background-color: #F8F8F8;
}

a
{
    text-decoration: none;
}

/* PARTE DA DIREITA CONTAINER GERAL */

.main{
    margin-left: 287px;
}

#container
{
    gap: 15px;
    padding-left: 60px;
    box-sizing: border-box;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.logo{
    padding-bottom: 4px;
}

.td-lista-associados{
    display: flex; 
    justify-content: center; 
    height: 80px; 
    padding: 0px;
    margin: 3px;
}

.btn-lista-associados{
    cursor: pointer;
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.dialog-editar, .dialog-cadastrar {
    border: none;
    height: 600px;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    background-color: #f4f7ff;
    box-shadow: 0 0 10px 1px #272727;
    padding: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dialog-editar::backdrop, .dialog-cadastrar::backdrop {
    background-color: rgba(121, 121, 121, 0.5);
}

.header-editar, .header-cadastrar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    height: 60px;
}

.header-editar h1, .header-cadastrar h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 2rem;
}

.header-editar img, .header-cadastrar img {
    width: 25px;
    cursor: pointer;
}

.campos-editar, .campos-cadastrar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.campo-small {
    width: 400px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.campo label, .campo-small label {
    font-weight: 500;
}

.campo input,
.campo select,
.campo textarea {
    width: 100%;
    padding: 7px;
    border-radius: 8px;
    font-weight: 500;
    resize: none;
    border: none;
    box-shadow: 2px 2px 3px 1px #0000007a;
}

.campo-large{
    width: 500px;
    height: 200px;
}

.campo-large textarea {
    width: 100%;
    height: 100%;
}

.container-campos-large{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-fechar {
    background-color: transparent;
    border: none;
}

.divisao-esquerda {
    display: flex;
    align-items: start;
    gap: 20px;
}

.campos-direita {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
}

.cores-produto{
    display: flex;
}

.cores-produto input {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.container-img {
    height: 100px;
    width: 100%;
    padding: 5px;
    background-color: transparent;
}

.galeria-produtos {
    display: flex;
    gap: 10px;
    width: 300px;
    background-color: #dcdcdc;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
}

.item-produto {
    flex: 1;
    min-width: 0;
    border: 1px solid;
    border-radius: 5px;
}

.imagem-produto-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}

.imagem-produto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icone-editar, .icone-cadastrar {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icone-editar-label, .icone-cadastrar-label {
    cursor: pointer;
    display: inline-block;
}

.div-btn {
    place-self: end;
}

.btn-concluir-edicao, .btn-concluir-cadastro {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #14A166;
    color: white;
}

.input-file {
    display: none;
}

#tituloH1{
    font-size: 36px;
}

.img-popUp img {
    background-color: green;
    border-radius: 50%;
}

.acoes-tabela {
    display: flex;
    justify-content: space-around;
}

.excluir img,
.editar img {
    cursor: pointer;
    width: 30px;
}

.excluir img:hover, .editar img:hover{
    transform: scale(1.1);
}

.cor{
    border: none;
}

.cores-produto div{
    width: 100%;
}

.span-cor{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}

.chkPromocao{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chkPromocao input{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.chkPromocao input:checked{
    color: green;
}

.container-item-produto{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lgd-img{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px;
}

.lgd-img img{
    width: 15px;
}

.img-ajuda {
    position: relative;
    cursor: help;
  }
  
  /* estilo do balão */
  .img-ajuda::after {
    content: attr(data-tooltip);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    max-width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    border-radius: 6px;
    position: absolute;
    bottom: 125%; /* aparece acima da imagem */
    left: 50%;
    transform: translateX(-50%);
    white-space: normal;
    z-index: 99;
    transition: opacity 0.3s;
    font-size: 13px;
  }
  
  /* seta */
  .img-ajuda::before {
    content: "";
    position: absolute;
    bottom: 115%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* aparece no hover */
  .img-ajuda:hover::after,
  .img-ajuda:hover::before {
    visibility: visible;
    opacity: 1;
  }
  

@media (max-width: 1280px) {
    .main{
        margin-left: 250px;
    }

    #barraCima th {
        font-size: 20px;
    }

    td {
        font-size: 17px;
    }
}

@media (max-width: 1024px){
    .main{
        margin-left: 230px;
    }

    #container{
        padding-left: 35px;
    }

    #barraCima th {
        font-size: 17px;
    }

    td {
        font-size: 14px;
    }
}

@media (max-width: 800px){
    .main{
        margin-left: 0;
    }

    #container{
        padding-left: 0;
        padding-top: 0;
        align-items: center;
    }
    #titulo{
        width: 100%;
    }

    .listaContainer{
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
        margin: 0 15px;
    }

    #lista{
        width: 100%;
    }

    th{
        font-size: 16px;
    }

    td{
        font-size: 14px;
    }

    #tabelaVendas tbody tr{
        height: auto;
    }

    .td-lista-associados{
        height: auto;
    }

}

@media (max-width: 520px) {
    #barraCima th {
        font-size: 10px;
        padding: 8px 4px;
    }

    td {
        font-size: 10px;
        padding: 8px 4px;
    }

    tr {
        height: 40px;
    }
}