*{
  margin: 0;
  padding: 0;
}
 
body {
  font-family: 'Montserrat', sans-serif;
}
 
 
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  overflow: hidden;
  width: 100%;
}
 
.associadoTitle{
  align-self: flex-start;
  margin-bottom: 40px;
  margin-left: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
 
.associadoTitle h2{
  color: black;
  font-size: 40px;
  font-weight: 400;
}
 
.carousel-inner {
  display: flex;
  flex-direction: row;
  width: 200%;
  animation: scroll 8s linear infinite;
}
 
.carousel-item {
  flex: 0 0 auto;
  width: 150px;
  margin: 0 40px;
  text-align: center;
}
 
.carousel-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
 
.carousel-item .name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
 
@keyframes scroll {
  0%
  {
    transform: translate(11%);
  }
  100%
  {
    transform: translate(-5.63%);
  }
}
 
.promo-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  overflow: hidden;
  height: 92vh;
}
 
.filtroDegrade{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, #00000000 57%, rgba(0, 0, 0, 0.7) 100%);
}
 
.promo-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.promo-contentEsquerda{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
  color: #ffffff;
}
 
.promo-content .btn{
  border: 0;
  filter: drop-shadow(-2px 4px 2px rgba(0, 0, 0, 0.3));
}
 
.promoContentText h2 {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 10px;
  filter: drop-shadow(-2px 4px 2px rgba(0, 0, 0, 0.5));
  text-align: center;
}
 
.promo-content p {
  font-size: 24px;
  margin-bottom: 20px;
  width: 780px;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(-2px 4px 2px rgba(0, 0, 0, 0.5));
}
 
.botoesContainer{
  display: flex;
  gap: 30px;
}
 
.karla{
  z-index: 901;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
 
.promo-image {
  width: 710px;
  height: auto; /* Ajuste a altura para permitir que a imagem se mova */
  z-index: 901;
  object-fit: cover;
  filter: drop-shadow(0 0 120px rgba(255, 255, 255, 0.4));
}
 
.blurNomeKarla {
  position: absolute;
  bottom: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 116px;
  width: 500px;
  z-index: 902;
}
 
.blurNomeKarla .blur{
  position: absolute;
  background-color: white;
  bottom: 10px;
  width: 400px;
  height: 100%;
  z-index: 901;
  filter: blur(20px);
  border-radius: 50px;
}
 
.nomeKarla{
  margin-top: 20px;
  font-size: 40px;
  font-weight: 700;
  z-index: 903;
}
 
.cargoKarla{
  font-size: 25px;
  font-weight: 500;
  color: #978E8E;
  z-index: 903;
}
 
.commission-table {
  flex: 1;
  position: absolute;
  border-radius: 10px;
  text-align: left;
  margin-left: 40px;
  margin-top: 100px;
  z-index: 2;
}

.commission-table h2 {
  color:#000000;;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao texto */
}
.commission-table p {
  font-size: 16px;
  font-weight: 700;
  color: #AA8E8E;
}
 
.cards-section { box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/projeto-integrador-et.com/public/imagens/TornarAssociado/Rectangle.png');
  background-size: cover;
  background-position: center;
  height: 760px;
}
 
 
.comissionText{
  position: absolute;
  width: 820px;
  font-size: 24px;
  right: 50px;
  bottom: 0;
}
 
  .cards-container {
    display: flex;
    gap: 40px;
  }
 
.comissionCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: -8px 8px 4px 4px rgba(0, 0, 0, 0.30);
  gap: 32px;
  padding: 30px;
  transition: filter 0.3s ease-in-out;
  border: 8px solid black;
}
 
.comissionCardIdentifier{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  filter: drop-shadow(0px 2px 2px black);
}
 
.comissionCardIcon{
  height: 80px;
}
 
.comissionPercentageContainer{
  background-color: black;
  color: white;
  padding: 24px 20px;
  border-radius: 10px;
  font-weight: 700;
}
 
#maquiagemCard{
  background-color: #DDBEFF;
}
 
#maquiagemCard:hover {
  filter: drop-shadow(0 0 15px #DDBEFF);
}
 
#perfumeCard{
  background-color: #BF85FF;
}
 
#perfumeCard:hover {
  filter: drop-shadow(0 0 15px #BF85FF);
}
 
#skinCareCard{
  background-color: #8C23FF;
}
 
#skinCareCard:hover {
  filter: drop-shadow(0 0 15px #8C23FF);
}
 
#cabeloCard{
  background-color: #FF32F5;
}
 
#cabeloCard:hover {
  filter: drop-shadow(0 0 15px #FF32F5);
}
 
#eletronicosCard{
  background-color: #FF5993;
}
 
#eletronicosCard:hover {
  filter: drop-shadow(0 0 15px #FF5993);
}
 
#corporalCard{
  background-color: #c11a55;
}
 
#corporalCard:hover {
  filter: drop-shadow(0 0 15px #c11a55);
}
 
.cardRedirectWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.cardRedirect{
  background-color: #FFE5E5;
  display: flex;
  align-self: center;
  /* justify-content: space-between; */
  box-shadow: inset -4px 6px 13px rgba(0, 0, 0, 0.25);
  margin: 0px 200px;
  margin-top: 195px;
  padding: 20px 0px;
}
 
/* box-shadow: -4px 8px 4px rgba(0, 0, 0, 0.25); */
 
.cardRedirect div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 75px;
  /* margin: 0px 50px; */
  margin: auto;
}
 
.cardRedirect span{
  border-right: 4px solid black;
  margin: 20px 0px;
}
 
.logoCardRedirect{
  width: 500px;
  height: auto;
  filter: drop-shadow(-4px 8px 4px rgba(0, 0, 0, 0.25));
  /* margin: auto; */
}
 
.logoCardRedirect, .cardRedirect div h1{
  text-align: center;
}
 
.logoCardRedirect, .cardRedirect div h1, .cardRedirect span, .cardRedirect div .btn{
  filter: drop-shadow(-4px 8px 4px rgba(0, 0, 0, 0.25));
}
 
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
 
@media screen and (max-width: 1555px) {
 
  .promoContentText h2 {
    font-size: 40px;
  }
  .promo-content p {
    width: 490px;
    font-size: 20px;
  }
  .karla{
    padding-top: 80px;
  }
  .promo-image {
    height: 600px;
    width: 400px;
  }
  .nomeKarla {
    font-size: 32px;
  }
  .cargoKarla {
    font-size: 20px;
  }
  .commission-table {
    position: static;
    text-align: left;
    margin-left: 40px;
    margin-top: 100px;
   
  }
  .cards-section {
    height: auto;
    padding: 50px 20px;
  }
  .cards-container {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .comissionCard {
    width: 200px;
    padding: 20px;
  }

  .comissionText {
    font-size: 18px;
    text-align: center;
    position: static;
    max-width: 100%;
    margin-top: 80px;
  }

  .botoesContainer{
    display: flex;
    gap: 30px;
    width: 400px;
  }

  .cardRedirect {
    margin: 50px 20px 0 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .cardRedirect div {
    gap: 20px;
  }
  .logoCardRedirect {
    width: 300px;
  }
  .cardRedirect span{
    display: none;
  }
  .cardRedirect h1{
    font-size: 25px;
  }
}

@media screen and (max-width: 900px) {

  .promo-section {
    flex-direction: column;
    text-align: center;
    padding:0px 20px;
  }
  .promo-content {
    flex-direction: column;
    align-items: center;
  }
  .promoContentText h2 {
    margin-top: 120px;
    font-size: 28px;
  }
  .promo-content p {
    font-size: 16px;
    width: 90%;
  }

  .promo-contentEsquerda{
    margin-bottom: 10px;
  }
  .promo-image {
    width: 500px;
    height: auto;
  }

  .karla{
    padding-top: 0px;
  }
  .nomeKarla {
    font-size: 28px;
  }
  .cargoKarla {
    font-size: 18px;
  }
  .commission-table {
    position: static;
    text-align: left;
    margin-left: 40px;
    margin-top: 100px;
   
  }

  .comissionText {
    font-size: 18px;
    position: static;
    max-width: 100%;
    margin-top: 80px;
  }

  .carousel-item {
    width: 100px;
    margin: 0 10px;
  }
  .carousel-item img {
    width: 100px;
    height: 100px;
  }
  .cards-container {
    flex-direction: column; 
    align-items: center;
  }
  .comissionCard {
    width: 90%;
  }
  .cardRedirect {
    margin: 20px;
  }
  .logoCardRedirect {
    width: 200px;
  }

  .cardRedirect h1{
    font-size: 20px;
  }

  
}

@media (max-width: 576px){ /*Celular Vertical*/
  .promo-image {
    width: 400px;
  }

  .promo-contentEsquerda{
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 480px) {
  .promoContentText h2 {
    font-size: 22px;
  }
  .comissionText {
    font-size: 18px;
    text-align: center;
    position: static;
    max-width: 100%;
  }
  .promo-content p {
    font-size: 14px;
  }

}
