#lista {
    width: 97%;
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    height: 450px;
    display: flex;
    flex-direction: column;
}

#barraCima {
    background-color: black;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#tabelaVendas {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    table-layout: fixed;
}

th, td {
    text-align: center;
}

th {
    padding: 10px;
    font-size: 24px;
}

td {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

tr {
    border-bottom: 0.1px solid #DADADA;
}

.tabela-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabela-body::-webkit-scrollbar {
    display: none;
}

#statusPago, #statusPendente {
    display: flex;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#statusPago {
    background-color: #14A065;
}

#statusPendente {
    background-color: #FF3131;
}