* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html, body {
    height: 100%;
    overflow: hidden;
}
 
main {
    height: 100vh;
    background-color: #ECECEC;
    margin-left: 287px;
}
 
 
.main_header {
    height: 200px;
    background-color: #F8F8F8;
}
 
.main_header h1 {
    font-size: 20px;
    padding-top: 92px;
    padding-left: 60px;
}
 
.main_fundo {
    height: 100vh;
    display: flex;
    justify-content: center;
 
}
 
.quadrado {
    box-shadow: black 3px 0 0 10;
    height: 820px;
    border-radius: 20px;
    width: 1634px;
    margin-right: -65px;
    position: relative;
    top: -20px;
    background-color: rgb(226, 217, 217);
}