<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Dados</title>
    <link rel="stylesheet" href="../../../public/css/MeusDadosAssociado.css">
   
</head>
<body>

    <div class="container-principal">
        <header>
            <div class="titulo">Meus dados</div>
        </header>

        <div class="area-conteudo">
            <div class="moficasao">
                <div class="perfil-dados">
                    <p>Perfil</h1>
                    <div class="foto">
                        <img src="https://preview.redd.it/which-meme-image-of-joker-is-going-to-be-turned-into-a-v0-qgt2ljdpsbzc1.jpg?width=640&crop=smart&auto=webp&s=58b0fbeed2d91a608cf2507d5575f7dd8ea65e19" alt="Perfil">                    
                    </div>    
                </div>    

                <div class="card-perfil">
                    <div class="form-group">
                        <div class="titulo-form"><p>Nome</p></div>
                        <div class="Cardtext"></div>
                    </div>
                    <div class="form-group">
                        <div class="titulo-form"><p>Gmail</p></div>
                        <div class="Cardtext"></div>
                    </div>
                    <div class="form-group">
                        <div class="titulo-form"><p>CPF</p></div>
                        <div class="Cardtext"></div>
                    </div>
                </div>
                <div class="x">X</div>
            </div>

        </div>
    </div><!--fim Principal -->
</body>
</html>
