.componenteConta{
    position: fixed;
    right: 0;
    top: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    background-color: rgb(20, 20, 20);
    filter: drop-shadow(0px 4px 10px rgba(0,0,0,0.6));
    z-index: 1000;
    transform: translateX(0%);
    transition: transform 0.3s ease;
    text-decoration: none;
}

.fotoUserWrapper{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-left: 25px;
    overflow: hidden;
}

.fotoUserWrapper #fotoUser{
    width: 100%;
    height: 100%;
}

.componenteConta .textContaContainer{
    margin-left: 15px;
}

.textContaContainer #textUser{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.textContaContainer #textCargo{
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.componenteConta.hide{
    transform: translateX(110%);
}

@media (max-width: 1420px) { /*Computador 1280x800*/
    .componenteConta{
        width: 260px;
        height: 90px;
        top: 35px;
    }

    .textContaContainer #textUser{
        font-size: 18px;
    }
}

@media (max-width: 1280px) { /*Computador 1280x800*/
    .componenteConta{
        width: 230px;
        height: 80px;
        top: 30px;
    }

    .fotoUserWrapper{
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }

    .textContaContainer #textUser{
        font-size: 18px;
    }
}

@media (max-width: 800px){ /*Tablet 800x1280*/
    .componenteConta{
        top: 10px;
        width: fit-content;
        padding-right: 20px;
        height: 60px;
        filter: none;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    }

    .fotoUserWrapper{
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }

    .textContaContainer{
        display: none;
    }
}