.detalheProdutoCarousel{
    visibility: hidden;
    background-color: rgba(255, 255, 255,10%);
    box-shadow: inset 0px 0px 25px 11px rgba(255, 255, 255,25%);
    border-radius: 24px;
    backdrop-filter: blur(100px);
    width: 1365px;
    height: 500px;
    z-index: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-81%, -50%);
    transition: all 0.3s;
    opacity: 0;
}

.detalheProdutoCarousel.open{
    visibility: visible;
    opacity: 1;
}

.frameImagemCarousel{
    width: 420px;
    height: 420px;
    z-index: 701;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    background-image: linear-gradient(to bottom, #7A3241 0%, #39121D 50%, #150106 100%);
    border-radius: 24px;
    box-shadow: inset 0px 0px 30px 7px rgba(0, 0, 0, 0.40);
}

.CarouselProdutoText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 895px;
    height: 100%;
    padding: 45px 70px;
    box-sizing: border-box;
}

.carouselProdutoTitulo, .carouselProdutoPreco{
    font-size: 48px;
    height: min-content;
}


.carouselProdutoMarca{
    font-size: 32px;
}

.carouselProdutoMaisDetalhes{
    font-size: 24px;
    text-decoration: none;
    color: white;
    height: min-content;
    padding-top: 22px;
    transition: all 0.4s;
}

.carouselProdutoMaisDetalhes:hover{
    text-shadow: 0px 0px 4px white;
}

.carouselProdutoName{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.carouselProdutoBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cor-0 { background-image: linear-gradient(to bottom, #7A3241 0%, #39121D 50%, #150106 100%); }
.cor-1 { background-image: linear-gradient(to bottom, #C69065 0%, #B88D6B 50%, #EBC1B6 100%); }
.cor-2 { background-image: linear-gradient(to bottom, #F2D5AF 0%, #CC9F9D 50%, #CE766C 100%); }

@media (max-width: 1800px){ /*Computador Grande*/
    .detalheProdutoCarousel{
        width: 1190px;
        height: 435.90px;
        transform: translate(-80.5%, -50%);
    }

    .frameImagemCarousel{
        height: 366.16px;
        width: 366.16px;
    }

    .CarouselProdutoText{
        width: 775px;
        height: 100%;
        padding: 45px 70px;
    }

    .carouselProdutoTitulo, .carouselProdutoPreco{
        font-size: 44px;
    }

    .carouselProdutoMarca{
        font-size: 30px;
    }

    .carouselProdutoMaisDetalhes{
        font-size: 20px;
    }
}

@media (max-width: 1525px){ /*Computador Grande*/
    .detalheProdutoCarousel{
        width: 1000px;
        height: 382px;
        transform: translate(-79%, -50%);
    }

    .frameImagemCarousel{
        height: 320px;
        width: 320px;
    }

    .CarouselProdutoText{
        width: 630px;
        padding: 31px 48.22px;
    }

    .carouselProdutoTitulo, .carouselProdutoPreco{
        font-size: 40px;
    }

    .carouselProdutoMaisDetalhes{
        font-size: 16px;
    }
}

@media (max-width: 1200px){ /*Computador Grande*/
    .detalheProdutoCarousel{
        width: 880px;
        transform: translate(-76%, -50%);
    }

    .CarouselProdutoText{
        width: 530px;
    }

    .carouselProdutoTitulo, .carouselProdutoPreco{
        font-size: 30px;
    }

    .carouselProdutoMarca{
        font-size: 22px;
    }

    .carouselProdutoMaisDetalhes{
        font-size: 14px;
        padding-top: 10px;
    }
}

@media (max-width: 1067px){ /*Computador Grande*/
    .detalheProdutoCarousel{
        width: 525px;
        height: auto;
        transform: translate(-50%, -36%);
        display: flex;
    }

    .frameImagemCarousel{
        height: 360px;
        width: 360px;
        right: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-72%);
    }

    .CarouselProdutoText{
        width: 100%;
        height: 100%;
        padding: 28px 48px;
        margin-top: 380px;
    }

    .carouselProdutoName{
        display: flex;
        flex-direction: column;
        gap: 0px;
        height: 101px;
    }
}