RewriteEngine On

# Define a pasta pública como base
RewriteBase /host-gui/projeto/projeto-integrador-et.com/et_pontocom/public/

# Redireciona todas as requisições para a pasta public/
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]

# Redireciona todas as requisições para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
