<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ET</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body id="bodyLogin">
    <div id="container">
        <div id="parteBranca">
            <h1>BEM-VINDO!</h1>
            <input id="inputEmail" name="inputEmailouCPF" type="text" placeholder="CPF ou Email:">
            <hr>
            <input id="inputSenha" name="inputSenha" type="password" placeholder="Senha:">
            <hr>
            <a href="">Esqueceu a senha?</a>
            <a href=""><button>Entrar</button></a>
            <p>Novo na ET?</p><a href="">Cadastre-se</a>
            <img src="" alt=""><a href="">voltar</a>          
        </div>
        <!-- <section>
            <div class="wave wave1"></div>
        </section> -->
    </div>
    
    <script src="script.js"></script>
</body>
</html>


<!-- perguntar como vai deixar o input se vai ser input type email ou text pois tem o cpf ai eu ja num sei ne -->
<!-- colocar foto no img de setinha -->