.carousel {
    position: relative;
    width: 800px;
    height: 420px;
    perspective: 1200px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .carouselContainer{
    width: 100%;
    height: 105vh;
    z-index: 1000;
    position: relative;
    box-sizing: border-box;
    transition: background-image 0.6s ease;
}

.carouselContent{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

  .carousel-track {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .carousel-item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: all 0.8s ease;
    z-index: 0;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    user-select: none;
  }

  .carousel-item.active {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
    z-index: 700;
    cursor: pointer;
  }

  .carousel-item.left {
    transform: translate(-130%, -50%) scale(0.9);
    opacity: 0.4;
    z-index: 2;
  }

  .carousel-item.right {
    transform: translate(30%, -50%) scale(0.9);
    opacity: 0.4;
    z-index: 2;
  }

  .bottom-controls {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    padding-top: 30px;
  }

  .Seta-btn {
    font-size: 28px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
  }


  .Bolas {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;    
  }
  
  .Bola {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  .Bola.active-Bola {
    transform: scale(1.3);
  }

  .carousel-item.active img{
    z-index: 702;
    position: relative;
  }
  .cor-0 { background-image: linear-gradient(to bottom, #7A3241 0%, #39121D 50%, #150106 100%); }
  .cor-1 { background-image: linear-gradient(to bottom, #C69065 0%, #B88D6B 50%, #EBC1B6 100%); }
  .cor-2 { background-image: linear-gradient(to bottom, #F2D5AF 0%, #CC9F9D 50%, #CE766C 100%); }

@keyframes rise {
  0% {
      margin-left: 0;
      transform: translateY(0);
      opacity: 0;
  }
  25% {
      margin-left: -(var(--bubble-x-shift));
  }
  50% {
      opacity: 1;
      margin-left: var(--bubble-x-shift);
  }
  75% {
      margin-left: -(var(--bubble-x-shift));
  }
  100% {
      margin-left: 0;
      transform: translateY(-100vh);
      opacity: 0;
  }
}

@keyframes sway {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 50px;
  }
  50% {
    margin-left: -50px;
  }
  75% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0;
  }
}

  @media (max-width: 1800px){ /*Computador Grande*/
    .carousel {
      height: 310px;
    }

    .carousel-item {
      width: 255px;
      height: 255px;
    }

}

@media (max-width: 1525px){ /*Computador Grande*/
  .carousel {
    width: 700px;
    height: 300px;
  }

  .bottom-controls {
    padding-top: 0px;
    padding-top: 50px;
  }
}

@media (max-width: 1300px){ /*Computador Grande*/
  .carousel {
    width: 600px;
  }

  /* .carousel-item {
    width: 125px;
  } */
}

@media (max-width: 1200px){ /*Computador Grande*/
  .carousel {
    width: 525px;
  }

  .carousel-item.left {
    transform: translate(-110%, -50%) scale(0.8);
  }

  .carousel-item.right {
    transform: translate(10%, -50%) scale(0.8);
  }

  /* .carousel-item {
    width: 110px;
  } */
}

@media (max-width: 1067px){ /*Computador Grande*/
  .carousel {
    width: 550px;
    height: 350px;
  }

  .carousel-item {
    width: 300px;
    height: 300px;
  }

  .carousel-item.left {
    transform: translate(-110%, -50%) scale(0.8);
  }

  .carousel-item.right {
    transform: translate(10%, -50%) scale(0.8);
  }
}

@media (max-width: 768px){ /*Computador Grande*/
  /* .carousel-item {
    width: 125px;
  } */
}

@media (max-width: 576px){ /*Celular Vertical*/
  .carousel {
    transform: scale(0.8);
    width: auto;
  }

}
