#lista 
{
    width: 97%;
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

#tabelaVendas 
{
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    table-layout: fixed;
}

#barraCima 
{
    background-color: #141414;
    color: white;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    padding: 10%;
}

th, td 
{   
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
}

th {
    padding: 2%;
    font-size: 24px;
}


td 
{
    padding: 1.14% 0;
    font-size: 20px;
    font-weight: bold;
}

tr 
{
    border-bottom: 0.1px solid #DADADA;
}

.tabela-body 
{
    max-height: 620px;
    max-width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabela-body::-webkit-scrollbar 
{
    display: none; 
}

#statusPago, #statusPendente
{   
    display: flex;
    color: white;
    background-color: #14A065;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto;
}

#statusPendente
{
    background-color: #FF3131;
}

.btnStatus{
    border: none;
    cursor: pointer;
}

.selectStatusEntrega{
    display: flex;
    border-radius: 15px;
    width: 90%;
    height: 50px;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    cursor: pointer;
}

@media (max-width: 1280px) {
    th, td {
        font-size: 16px;
        padding: 8px;
    }

    #statusPago, #statusPendente {
        width: 100px;
        height: 40px;
    }

    .selectStatusEntrega {
        height: 40px;
    }
}

@media (max-width: 1024px) {
    .selectStatusEntrega {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    #lista {
        width: 100%;
        border-radius: 10px;
    }

    table, thead, tbody, th, td, tr {
        display: block;
        width: 100%;
    }

    thead {
        display: none;
    }

    tr {
        border: 1px solid #ddd;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 10px;
    }

    .listaContainer{
        width: 100%;
    }
    
    td {
        text-align: left;
        padding: 5px 10px;
        position: relative;
        font-size: 16px;
    }

    td::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        color: #555;
        margin-bottom: 3px;
    }

    #statusPago, #statusPendente, .selectStatusEntrega {
        width: 100%;
        height: 40px;
    }
}