@import url(styles.css);
@import url(./../componentes/tabelasAssociado_ADM/AssociadosADM/associados.css);

*
{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

body
{
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: #F8F8F8;
}

a
{
    text-decoration: none;
}

/* PARTE DA DIREITA CONTAINER GERAL */ 

#container
{
    gap: 15px;
    padding-left: 60px;
    box-sizing: border-box;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.main{
    margin-left: 287px;
}

/* filtragem e pesquisa */

#botaoAssociados, #botaoSolicitacao
{
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #3449B6;
    color: white;
    border-radius: 15px;
    width: 205px;
    height: 55px;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#lista{
    margin-top: 15px;
}

#tituloH1{
    font-size: 36px;
}

@media (max-width: 1280px) {
    .main{
        margin-left: 250px;
    }
}

@media (max-width: 1024px){
    .main{
        margin-left: 230px;
    }

    #container{
        padding-left: 35px;
    }
}
 
@media (max-width: 800px){
    .main{
        margin-left: 0;
    }

    #container{
        padding-left: 0;
        padding-top: 0;
        align-items: center;
    }
    #titulo{
        width: 100%;
    }

    .listaContainer{
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
        margin: 0 15px;
    }

    #lista{
        width: 100%;
    }
    #divPesquisarEEscolher{
        width: 100%;
        padding-left: 80px;
        padding-right: 160px;
        margin-top: 15px;
    }

    #pesquisar{
        width: 100%;
    }

    #inputPesquisar{
        width: 100%;
        height: 50px;
        font-size: 16px;
    }

    #botaoFiltragem{
        height: 50px;
        width: 50px;
    }

    #botaoFiltragem p{
        display: none;
    }

    #imagemFiltro{
        width: 32px;
        height: 32px;
    }

    th{
        font-size: 16px;
    }

    td{
        font-size: 14px;
    }

    #botaoAssociados, #botaoSolicitacao {
        position: absolute;
        width: auto;
        padding: 10px 20px;
        height: auto;
    }

    #botaoAssociados{
        right: 182px;
        top: 80px;
    }

    #botaoSolicitacao{
        top: 80px;
        right: 15px;
    }

    #th1{
        width: 60px;
    }

    td:first-child{
        width: 60px;
    }
}

@media (max-width: 520px){ /*Celular  800x1280, 520x1040, 480x960, 430x932, 414x896, 390x844, 375x667, 360x640*/
    #divPesquisarEEscolher{
        padding-right: 140px;
    }
}