@import url(styles.css);
@import url(./../componentes/tabelasAssociado_ADM/AssociadosADM/associados.css);

*
{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

body
{
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: #F8F8F8;
}

a
{
    text-decoration: none;
}

/* PARTE DA DIREITA CONTAINER GERAL */ 

#container
{
    gap: 15px;
    padding-left: 60px;
    box-sizing: border-box;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.main{
    margin-left: 287px;
}

/* filtragem e pesquisa */

#divPesquisarEEscolher
{
    display: flex;
    gap: 20px;
}

#botaoAssociados, #botaoSolicitacao
{
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #3449B6;
    color: white;
    border-radius: 15px;
    width: 205px;
    height: 55px;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


/* pesquisa */

#inputPesquisar
{
    width: 500px;
    height: 55px;
    border-radius: 15px;
    padding-left: 10px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
}

#lista{
    margin-top: 15px;
}

#tituloH1{
    font-size: 36px;
}