@import url(styles.css);

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: #F8F8F8;
    overflow-x: hidden;
}

.descricao{
    color: #7C7C7C;
    font-size: 20px;
    margin-left: 50px;
}

.descricaoContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.customizacaoMain{
    display: flex;
    flex-direction: column;
    padding-left: 51px;
    width: 100%;
    max-height: 1150px;
    overflow-y: clip;
}

.main{
    margin-left: 287px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.containerCustomizacao{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.sessao{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.editarCarousel{
    display: flex;
}

.editarCarouselContainer{
    margin-top: 37px;
    display: flex;
    gap: 50px;
    padding: 15px;
    z-index: 1;
}

.produtoInicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 0;
}

.produtoInicial p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

.bordaProdutoInicial{
    border-radius: 32px;
    width: 288px;
    height: 288px;
    border: solid 2px black;
    border-style: inset;
}

.produtoContainer{
    width: 258px;
    height: 258px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}

#tituloCustomizacao{
    font-size: 36px;
    margin-bottom: 30px;
    padding-top: 40px;
}

.tituloSessao{
    font-size: 24px;
    font-weight: 700;
    margin-left: 34px;
}



.imagemProduto{
    width: 100%;
}

.frameSlider{
    display: flex;
    width: min-content;
    position: relative;
    width: 82vw;
}
.frameProdutos{
    display: flex;
    z-index: 499;
    overflow-x: hidden;
}
.degradeEsquerda{
    width: 64px;
    background-image: linear-gradient(to right, #F8F8F8 0%, #F8F8F8 35%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    left: 0;
    z-index: 500;
    height: 100%;
}

.degradeDireita{
    width: 64px;
    background-image: linear-gradient(to left, #F8F8F8 0%, #F8F8F8 35%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    right: 0;
    z-index: 500;
    height: 100%;
}

.containerProdutos{
    display: flex;
    gap: 17px;
    padding: 25px 83px 25px 83px;
}

.wrapper{
    position: relative;
    top: -290px;
    width: min-content;
}

.editProdutoDestaque{
    width: 1248px;
    display: flex;
    margin-bottom: 10px;
}

.editProdutoDestaque span{
    display: flex;
    width: 2px;
    background-color: #D9D9D9;
}

.editProdutoDestaque .nomeProduto{
    width: 490px;
    box-sizing: border-box;
    background-color: white;
    padding: 4px 10px;
    font-size: 20px;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.editProdutoDestaque h2{
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 10px;
}

.coresGrid{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 23px;
}

.corWrapper h3{
    font-size: 16px;
    font-weight: 500;
}

.editCor{
    display: flex;
    background-color: #D9D9D9;
    border-radius: 5px;
    align-items: center;
    box-sizing: border-box;
    padding: 3px 7px 3px 5px;
    gap: 10px;
}

.corShow{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 40px;
    height: 45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.corShow::-webkit-color-swatch{
    border: none;
    border-radius: 3px;

}

.corShow::-moz-color-swatch{
    border: none;
    border-radius: 3px;
}

.textHex{
    font-size: 14px;
    margin-left: 111px;
}

.corHex{
    background-color: white;
    width: 145px;
    height: 35px;
    font-size: 20px;
    border-radius: 3px;
    border: 0;
    text-align: center;
}

.esquerda {
    padding-right: 45px;
}

.direita{
    padding-left: 45px;
}

.selectProduto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sessaoPI{
    margin-top: 22px;
}