@import url(styles.css);

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: #F8F8F8;
}

.customizacaoMain{
    display: flex;
    flex-direction: column;
    margin-left: 287px;
    padding-left: 51px;
    padding-top: 40px;
    height: 100vh;
}

.containerCustomizacao{
    margin-left: 30px;
}

#tituloCustomizacao{
    font-size: 36px;
    margin-bottom: 30px;
}

.tituloSessao{
    font-size: 24px;
    font-weight: 700;
    margin-left: 34px;
}

.bloco{
    width: 200px;
    height: 200px;
    background-color: black;
}
