@import url(styles.css);

*
{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

body
{
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

a
{
    text-decoration: none;
}

/* PARTE DA DIREITA CONTAINER GERAL */

#container
{
    width: 100vw;
    height: 100vh;
    margin-left: 350px;
}

/* estilizacao da parte do icone do usuario */

#controleIcon
{
    display: flex;
    flex-direction: row-reverse;
}

#iconUsuario
{
    width: 250px;
    height: 80px;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    margin-top: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

#fotoUser
{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 30px;
    width: 70px;
    height: 70px;
}

/* estilizacao das informacoes principais */

#titulo
{
    display: flex;
    margin-bottom: 15px;
}

#geralInformacoes
{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

#valorVendas, #lucroLiquido, #vendas
{
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #14A166;
    border-radius: 15px;
    padding: 10px;
    height: 150px;
    width: 450px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#lucroLiquido
{
    background-color: #A41FA6;
}

#vendas
{
    background-color: #3449B6;  
}

#imagemInforma
{
    width: 40px;
    height: 40px;
}

#imagemInformaEstilizacao
{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 15px;
    align-items: center;
    background-color: white;
}

#textoTituloInform, #valorInform
{
    margin-left: 5px;
    color: white;
}

#textoInformacao
{
    margin-left: 10px;
    width: 100%;
}

#controleImagemInform
{
    display: flex;
    flex-direction: row-reverse;
    width: 20%;
    height: 100%;
    margin-right: 5px;
    align-items: center;
}

/* PARTE DAS PIZZAS */

#controlePizzas
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 50px;
}

#divPizzaEsquerda, #divPizzaDireita
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 470px;
    border: #0000004D 2px solid;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#divControladoraTexto
{
    display: flex;
    align-items: flex-start
}

#tituloPizza
{
    margin: 15px 0px 0px 20px;
}

#selecionador
{
    display: flex;
    flex-direction: column;
    margin: 20px 50px 0px 0px;
}

#ajusteSelecionador
{
    display: flex;
    flex-direction: row-reverse;
}

/* RESPONSIVIDADE */
@media (max-width: 2560px){

    #container
    {
        margin-left: 200px; /*vai ter que mudar isso depois provavelmente*/
    }

    #iconUsuario
    {
        width: 350px;
        height: 130px;
    }

    #textUser
    {
        font-size: 25px
    }

    #fotoUser
    {
        width: 100px;
        height: 100px;
    }

    #titulo
    {
        justify-content: center;
        margin-right: 1550px;
        margin-top: 30px;
    }

    #tituloH1
    {
        font-size: 50px;
    }

    #geralInformacoes
    {
        justify-content: right;
        margin-right: 200px;
        gap: 50px;
    }

    #valorVendas, #lucroLiquido, #vendas
    {
        font-size: 25px;
        gap: 0px;
        height: 250px;
        width: 600px;
    }

    #controlePizzas
    {
        gap: 50px;
        justify-content: center;
        margin-left: 120px;
    }

    #divPizzaEsquerda,#divPizzaDireita
    {
        width: 930px;
        height: 600px;
    }
}

@media (max-width: 1440px){
    #container{
        margin: 0;
    }

    #tituloH1
    {
        font-size: 25px;
    }

    #iconUsuario
    {
        width: 250px;
        height: 90px;
    }

    #fotoUser{
        height: 70px;
        width: 70px;
    }

    #textUser
    {
        font-size: 20px;
    }

    #geralInformacoes
    {
        margin-right: 80px;
    }

    #valorVendas, #lucroLiquido, #vendas
    {
        width: 300px;
        height: 100px;
        font-size: 10px;
    }

    #imagemInforma{
        height: 35px;
        width: 35px;
    }

    #imagemInformaEstilizacao
    {
        height: 50px;
    }

    #controlePizzas
    {
        justify-content: right;
        margin: 50px 80px 0px 0px;
        gap: 100px;
    }

    #divPizzaEsquerda, #divPizzaDireita
    {
        width: 450px;
        height: 450px;
    }
}


@media (max-width: 1024px){
    #iconUsuario
    {
        height: 80px;
        width: 210px;
    }

    #titulo{
        margin: 30px 230px 10px 0px;
        
        }

    #fotoUser
    {
        height: 60px;
        width: 60px;
    }

    #textUser
    {
        font-size: 15px;
    }

    #geralInformacoes
    {
        margin-right: 20px;
        gap: 10px;
    }

    #valorVendas, #lucroLiquido, #vendas
    {
        height: 100px;
        width: 220px;
        gap: 10px;
    }
    
    #controlePizzas
    {
        display: flex;
        margin-right: 0px;
        margin-left: 300px;
        margin: 50px 0px 0px 310px;
        flex-direction: column;
        align-items: center;
        justify-content: right;
        gap: 150px;
        width: 700px;
    }

    #divPizzaDireita
    {
        margin-bottom: 50px;
    }

}