@import url(styles.css);

*
{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body
{
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

a
{
    text-decoration: none;
}

/* PARTE DA DIREITA CONTAINER GERAL */

#main
{
    height: 100vh;
    margin-left: 287px;
}

#container{
    margin-left: 60px;
}

/* estilizacao das informacoes principais */

#titulo
{
    display: flex;
    margin-bottom: 15px;
}

#geralInformacoes
{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

#valorVendas, #lucroLiquido, #vendas
{
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #14A166;
    border-radius: 15px;
    padding: 10px;
    height: 150px;
    width: 450px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#lucroLiquido
{
    background-color: #A41FA6;
}

#vendas
{
    background-color: #3449B6;  
}

#imagemInforma
{
    width: 40px;
    height: 40px;
}

#imagemInformaEstilizacao
{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 15px;
    align-items: center;
    background-color: white;
}

#textoTituloInform, #valorInform
{
    margin-left: 5px;
    color: white;
}

#textoInformacao
{
    margin-left: 10px;
    width: 100%;
}

#controleImagemInform
{
    display: flex;
    flex-direction: row-reverse;
    width: 20%;
    height: 100%;
    margin-right: 5px;
    align-items: center;
}

/* PARTE DAS PIZZAS */

#controlePizzas
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 50px;
}

#divPizzaEsquerda, #divPizzaDireita
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 470px;
    border: #0000004D 2px solid;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#divControladoraTexto
{
    display: flex;
    align-items: flex-start
}

#tituloPizza
{
    margin: 15px 0px 0px 20px;
}

#selecionador
{
    display: flex;
    flex-direction: column;
    margin: 20px 50px 0px 0px;
}

#ajusteSelecionador
{
    display: flex;
    flex-direction: row-reverse;
}

/* RESPONSIVIDADE */

@media (max-width: 2560px)
{

    #geralInformacoes
    {
        justify-content: center;
        gap: 50px;
    }

    #controlePizzas
    {
        margin: 50 0 0 0;
        justify-content: center;
        gap: 65px;
    }


}


@media (max-width: 1024px)
{
    #main
    {
        margin: 0;
    }

    #iconUsuario
    {
        width: 350px;
    }

    #geralInformacoes
    {
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #valorVendas, #lucroLiquido, #vendas
    {
        width: 300px;
        height: 100px;
        font-size: 10px;
    }

    #imagemInformaEstilizacao
    {
        height: 60px;
    }

    #controlePizzas
    {
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin: 50px 0px 0px 0px;
        align-items: center;
    }

    #divPizzaDireita{
        margin-bottom: 50px;
    }

    #divPizzaEsquerda, #divPizzaDireita{
        width: 550px;
    }
}

@media (max-width: 768px)
{ 
    #main
    {
        margin: 0px;
    }

    #controleIcon
    {
        margin: 0;
        justify-content: right;
    }

    #iconUsuario
    {
        width: 300px;
    }

    #titulo
    {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #valorVendas, #lucroLiquido, #vendas
    {
        width: 450px;
        font-size: 8px;
        gap: 0;
    }

    #imagemInformaEstilizacao
    {
        width: 60px;
    }

    #geralInformacoes
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 30px;
    }

    #controlePizzas
    {
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin: 50px 0px 0px 0px;
        align-items: center;
    }

    #divPizzaEsquerda, #divPizzaDireita{
        width: 500px;
    }

}