@import url(styles.css);

*
{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

body
{
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

a
{
    text-decoration: none;
}

/* PARTE DA DIREITA CONTAINER GERAL */

#container
{
    width: 100vw;
    height: 100vh;
    margin-left: 350px;
}

/* estilizacao da parte do icone do usuario */

#controleIcon
{
    display: flex;
    flex-direction: row-reverse;
}

#iconUsuario
{
    width: 250px;
    height: 80px;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    margin-top: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

#fotoUser
{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 30px;
    width: 70px;
    height: 70px;
}

/* estilizacao das informacoes principais */

#tituloH1{
    margin-bottom: 15px;
}

#geralInformacoes
{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

#valorVendas, #lucroLiquido, #vendas
{
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #14A166;
    border-radius: 15px;
    padding: 10px;
    height: 150px;
    width: 450px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#lucroLiquido
{
    background-color: #A41FA6;
}

#vendas
{
    background-color: #3449B6;  
}

#imagemInforma
{
    width: 40px;
    height: 40px;
}

#imagemInformaEstilizacao
{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 15px;
    align-items: center;
    background-color: white;
}

#textoTituloInform, #valorInform
{
    margin-left: 5px;
    color: white;
}

#textoInformacao
{
    margin-left: 10px;
    width: 100%;
}

#controleImagemInform
{
    display: flex;
    flex-direction: row-reverse;
    width: 20%;
    height: 100%;
    margin-right: 10px;
    align-items: center;
}

/* PARTE DAS PIZZAS */

#controlePizzas
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 50px;
}

#divPizzaEsquerda, #divPizzaDireita
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 470px;
    border: #0000004D 2px solid;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#divControladoraTexto
{
    display: flex;
    align-items: flex-start
}

#tituloPizza
{
    margin: 15px 0px 0px 20px;
}

#selecionador
{
    display: flex;
    flex-direction: column;
    margin: 20px 50px 0px 0px;
}

#ajusteSelecionador
{
    display: flex;
    flex-direction: row-reverse;
}

/* ANIMACAO DOS DONUTS */
