@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

abbr{
    text-decoration: none;
}

/*Informações principais--------------------------------*/
.container-detalhes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalhes-principal{
    display: flex;
    justify-content: center;
    margin: 200px 0px 150px 0px;
    gap: 20px;
}

.detalhes-imagens{
    display: flex;
    gap: 20px;
}

.imagens-lateral{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.imagens-lateral div{
    width: 110px;
}

.imagens-lateral div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-principal div{
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    height: 550px;
}

.img-principal div img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.qtd-produtos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px;
}

.qtd-produtos button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    color: gray;
}

.qtd-produtos span{
    font-size: 1.5rem;
    font-weight: 700;
}

.detalhes-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titulo-produto{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 3px;
}

.titulo h3{
    font-size: 1.3rem;
}

.coracaoImg{
    display: flex;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.coracaoImg img{
    padding-top: 2px;
    height: 18px;
    user-select: none;
    pointer-events: none;
    margin: 5px;
}

.sub-titulo-produto{
    display: flex;
    margin-left: 10px;
    gap: 5px;
}

.preco-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: normal;
}

.avaliacao-descricao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.avaliacao-descricao a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mais-detalhes{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 30px;
}

.descricao p{
    color: rgb(91, 91, 91);
    text-align: justify;
}

.btn-juntos{
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
}

.botoes-detalhes{
    display: flex;
    flex-direction: column;
}



/*Descrição-------------------------------------------------*/

.description-box {
    max-width: 1600px;
    margin: 250px auto 0px auto;
    padding: 30px 296px;
    background: linear-gradient(180deg, #bbbbbb 40%, #E4E4E4 50%);
    border-radius: 30px;
    text-align: left;
}

.description-box h2 {
    text-align: center;
    font-size: 28px;
    color: #4A4A4A;
    padding-top: 20px;
}

.description-box h3 {
    padding: 30px 0 0 90px;
    color: #4A4A4A;

}

.description-box ul {
    list-style-type: disc;
    padding: 0 50px;
    margin: 50px;
}

.description-box li {
    margin: 25px 0;
    font-size: 16px;
    color: black;
}

.description-box p {
    margin-top: 60px;
    padding-left: 88px;
}

/*Avaliações--------------------------------------------*/

#all-avaliacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 100px 0px;
}

.avaliacoes{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #dedede;
    padding: 15px 10px;
    border-radius: 30px;
}

.titulo-avaliacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    gap: 5px;
}

.titulo-aval{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.titulo-aval img{
    width: 100px;
}

.qtd-respostas h2{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(52, 52, 52);
}

.div-ordenar{
    width: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-ordenar{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 0.8rem;
}

.filtro-ordenar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 7px;
    gap: 5px;
}

.filtro-ordenar hr{
    width: 100%;
}

.item-filtro{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-filtro:hover{
    cursor: pointer;
    background-color: rgb(35, 35, 35);
    transform: scale(1.1);
    transition: all 0.5s;
}

.item-filtro span{
    text-align: center;
    font-size: 0.8rem;
}

.container-avaliacoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avaliacao{
    display: flex;
    flex-direction: column;
}

.container-nome-usuario{
    display: flex;
    align-items: center;
    gap: 5px;
}

.avaliacao-usuario{
    width: 80px;
}

.data-avaliacao span{
    font-size: 0.9rem;
}

.descricao-avaliacao{
    margin: 10px 0px 10px 0px;
}

.descricao-avaliacao p{
    font-size: 0.9rem;
    color: #313131;
}

.pergunta-avaliacao{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pergunta-avaliacao span{
    font-size: 0.9rem;
    font-weight: 700;
}

.btns-pergunta{
    display: flex;
    gap: 5px;
}