/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* CONTAINER PRINCIPAL */
.container-principal {
    padding-left: 287px;
    width: 1920px;
    height: 1080px;
    background-color: rgb(243, 0, 0);
}

/* HEADER */
header {
    background-color: #f8f8f8;
    height: 170px;
}

.titulo {
    position: relative;
    font-size: 1.5rem;
    color: #000;
    top: 100px;
    left: 130px;
}

/* ÁREA DE CONTEÚDO */
.area-conteudo {
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
}

.box-principal {
    position: relative;
    top: 71px;
    left: 149px;
    width: 1433px;
    height: 784px;
    background-color: #06ff8b0e;
}

/* BLOCO SECUNDÁRIO */
.dados-secundarios {
    position: absolute;
    top: 105px;
    right: 57px;
    width: 790px;
    height: 660px;
    background-color: #6ee6cc;
}

/* BLOCO DO USUÁRIO */
.usuario-bloco-1 {
    position: absolute;
    top: 23px;
    left: 0;
    width: 470px;
    height: 454px;
    border-radius: 15px;
    background-color: #FDFDFD;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* TÍTULO E BOTÃO X ALINHADOS */
.usuario_titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.usuario_titulo h1 {
    font-size: 35px;
    color: #000;
    margin: 4px;
}

.x {
    font-size: 24px;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

/* IMAGEM E NOME CENTRALIZADOS */
.usuario_imagem_1 {
    text-align: center;
    margin-top: 50px;
}

.usuario_imagem_1 img {
    height: 195px;
    width: 199px;
    border-radius: 50%;
    border: 3px solid #000;
    margin: 5px;
}

.usuario_imagem_1 p {
    margin-top: 15px;
    font-size: 20px;
    color: #000;
}

/* OUTRO BLOCO EXEMPLO */
.usuario-bloco-2 {
    position: relative;
    top: 477px;
    left: 0;
    width: 470px;
    height: 245px;
    background-color: #914d00;
}

/* TOPO DE DADOS */
.dados-topo {
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 12px;
    width: 154px;
    height: 51px;
    background-color: #000000;
    text-align: center;
    padding-top: 11px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box_campo_de_dados{
    height: 102px;
    width: 784px;
    background:fuchsia;
    margin: 3px;
    margin-top: 8px;
    margin-bottom:24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}