body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.seu_pai{
    padding-left: 287px;
    width: 1920px;
    height: 1080px;
    background-color: rgb(243, 0, 0);
}
header{
    background-color: #F8F8F8;
    height: 170px;
}
.titulo{
    position: relative;
    font-size: x-large;
    font-style: inherit;
    color: black;
    top: 100px;
    left: 130px;
}
main{
    background-color: #F0F0F0;
    height: 100%;
    width: 100%;
}
section .box{
    padding-left: 147px;
    background-color: black;
    height: 19px;
    width: 19px;
}