@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Parte básica da página */
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat",serif;
}

.conteudoMeusPedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 90px;
}


/*________Área Superior da página________*/
.conteudoMeusPedidos .areaSuperiorMP{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}

.areaSuperiorMP .tituloPrincipalMP{
    margin-top: 133px;
    font-size: 48px;
    font-weight: 300;
}

.areaSuperiorMP .linhaSuperiorTituloMP{   /*Linha de enfeite que fica abaixo do titulo*/
    width: 142vh;
    height: 3px;
    background-color: black;
}





/*_________Área de pedidos a caminho________*/
.conteudoMeusPedidos .pedidoCaminhoMP{
    display: flex;
    flex-direction: column;
    width: 155vh;
}

.pedidoCaminhoMP .tituloCaminhoMP{
    font-size: 38px;
    font-weight: 600;
}

        /*Nessa área é o que será acrescentado pelo javascript*/

.pedidoCaminhoMP #produtosCaminho{
    margin-top: 7px;
    width: 155vh;
    max-height: 50vh;
    padding-right: 6px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48vh,1fr));
    gap: 40px;
}

.pedidoCaminhoMP #produtosCaminho::-webkit-scrollbar{
    width: 5px;                                                  /*scroll da área de produtos a caminho*/
}

#produtosCaminho::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.363);                                   /*style do scroll*/
    border-radius: 10px;
}

#produtosCaminho .card-produtoMP{
    /* background-color: rgb(5, 116, 116); */
    display: flex;
    flex-direction: column;
    height: 26vh;
}

.card-produtoMP .data-compra{
    font-size: 15px;
}

.card-produtoMP .cardcoloridoCam{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.card-produtoMP .cardcoloridoCam .linhaverticalcard{
    width: 1px;
    height: 23vh;
    background-color: rgba(0, 0, 0, 0.507);
}

.card-produtoMP .cardcoloridoCam .card-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 23vh;
    width: 46vh;
    border-radius: 30px;
    padding-right: 40px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.301);
}

.card-produtoMP .cardcoloridoCam .card-info .card-imagem{
    display: flex;
    align-items: center;                                                        /* Ver isso depois */
}

.card-produtoMP .cardcoloridoCam .card-info .card-imagem img{
    height: 120px;
    width: auto;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.644));                              /*Ver isso depois*/  
}

.card-produtoMP .cardcoloridoCam .card-info .info-caminho .informacoes-card{
    display: flex;
    flex-direction: column;
}

.card-produtoMP .cardcoloridoCam .card-info .info-caminho .verMais{
    border: none;
    background-color: transparent;
    font-size: 15px;
    text-decoration: underline;
}


        /*Encerrou o card*/




/*_________Área de pedidos entregues________*/
.conteudoMeusPedidos .pedidosEntreguesMP{
    display: flex;
    flex-direction: column;
    width: 155vh;
}

.pedidosEntreguesMP .tituloEntregueMP{
    font-size: 38px;
    font-weight: 600;
}

        /*Nessa área é o que será acrescentado pelo javascript*/

.pedidosEntreguesMP .produtosEntregues{
    /*...*/
}

.conteudoMeusPedidos .linhaInferiorMP{
    width: 90vh;
    height: 3px;
    background-color: black;
    box-shadow:0px 5px 8px 0.1px rgba(0, 0, 0, 0.301);
}






/*______________Pop-up Meus Pedidos________________*/

.conteudoMeusPedidos .popupMP{
    border: none;
    background: transparent;
    animation: fadein 0.5s ease-in-out forwards;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 90vw;
    padding: 2rem;
    border-radius: 10px;
    overflow: auto;
}

.conteudoMeusPedidos .popupMP::backdrop{
    background-color: rgba(121, 121, 121, 0.5);
}

.popupMP .popupMP-conteudo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    padding: 15px;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0px 0px 10px 0px rgb(71, 71, 71);
    background-color: white;
}

.popupMP .popupMP-conteudo .popupMP-superior{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 100px;
}

.popupMP-superior .popupMP-linhasuperior{
    align-items: center;
    min-width: 60vw;
    height: 1px;
    background: linear-gradient(to right, rgb(255,255,255), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.76), rgb(0,0,0), rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.144), rgb(255,255,255));
    margin-left:6vw;
}
    
.popupMP-superior .icone-fechar{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 5vw;

}

.popupMP .popupMP-conteudo .popupMP-main .popupMP-Produtos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px 0;
}

.popupMP-main .popupMP-Produtos .cardMini {
    position: relative;
    width: 340px;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0px 0px 10px 0px rgb(71, 71, 71);
    transition: height 0.3s ease;
    overflow: visible;
    z-index: 0;
}

.popupMP-main .popupMP-Produtos .cardMini .card-recolhido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 12px 12px 0;

    height: 160px;
    cursor: pointer;
}

.popupMP-main .popupMP-Produtos .cardMini .card-recolhido .cardMini-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.popupMP-main .popupMP-Produtos .cardMini .card-expandido{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 380px;
    border-radius: 20px;
    padding: 12px;
    animation: fadein 0.3s ease-in-out;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popupMP-main .popupMP-Produtos .cardMini:hover{
    height: 380px;
    z-index: 20;
}
.popupMP-main .popupMP-Produtos .cardMini:hover .card-recolhido{
    display: none;
}
.popupMP-main .popupMP-Produtos .cardMini:hover .card-expandido{
    display: block;
    opacity: 1;
}

.popupMP .popupMP-conteudo .popupMP-inferior{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 160px;
    gap: 50vw;
}

.popupMP-inferior .popupMP-DataCompra{
    font-size: 13px;
}

.popupMP-inferior .popupMP-Total{
    font-size: 15px;
    font-weight: 600;
}

.popupMP .popupMP-conteudo .popupMP-linhainferior{
    align-items: center;
    min-width: 60vw;
    height: 1px;
    background: linear-gradient(to right, rgb(255,255,255), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.76), rgb(0,0,0), rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.144), rgb(255,255,255));
    bottom: 120px;
    position: fixed;
}