* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

main {
    height: 100vh;
    background-color: #ECECEC;
    margin-left: 287px;
}

.main_header {
    height: 200px;
    background-color: #F8F8F8;
}

#titulo-principal {
    font-size: 26px;
    padding-top: 92px;
    padding-left: 60px;
}

#perfil-usuario {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: azure;
    position: absolute;
    right: 0;
    width: 200px;
    height: 103px;
    top: 42px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.555));
}

.main_fundo {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.principal-perfil {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 30px;
}

#user-perfil {
    display: flex;
    padding: 20px;
    padding-top: 25px;
    justify-content: space-between;
    height: 454px;
    width: 470px;
    border-radius: 15px;
    background-color: #fdfdfd;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.555));
}

#user-perfil #nome-perfil {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 35px;
}

#user-perfil #img-user img {
    margin: 5px;
    text-align: center;
    height: 199px;
    width: 195px;
    border-radius: 50%;
}

#user-perfil #img-user {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    box-shadow: black 3px 0 0 10;
}

#icone-editar {
    font-size: 21px;
    display: flex;
    height: 73px;
    width: 74px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#botao-editar {
    display: flex;
    height: 50px;
    width: 154px;
    background-color: #000;
    color: #fff;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.555));
}

.box-rede {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.555));
    display: flex;
    margin-top: 20px;
    height: 54px;
    width: 470px;
    align-items: center;
    background-color: #fdfdfd;
    border-radius: 12px;
}

.box-rede i {
    display: flex;
    padding-left: 10px;
    font-size: 30px;  
    text-align: center;
    align-items: center;
    height: 50px;
    width: 50px;  
}

.parte-dados {
    padding-top: 40px;
}

.dado-local {
    position: relative;
    margin-top: 15px;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.555));
    height: 102px;
    width: 784px;
    align-items: center;
    background-color: #fdfdfd;
    border-radius: 12px;
}

.titulo-dado {
    padding: 20px;
}

.texto-dado {
    text-align: center;
}