@import url(styles.css);
@import url(./../componentes/tabelasAssociado_ADM/PedidosAssociado_ADM/pedidos.css);

* {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}

/* PARTE DA DIREITA CONTAINER GERAL */

#container {
    width: 100vw;
    height: 100vh;
    margin-left: 350px;
}

/* estilizacao da parte do icone do usuario */

#tituloH1 {
    margin-top: 20px;
}

#controleIcon {
    display: flex;
    flex-direction: row-reverse;
}

#iconUsuario {
    width: 250px;
    height: 80px;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    margin-top: 0px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

#fotoUser {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 30px;
    width: 70px;
    height: 70px;
}

/* filtragem e pesquisa */

#divPesquisarEFiltro {
    display: flex;
    gap: 20px;
}

/* pesquisa */

#inputPesquisar {
    width: 500px;
    height: 55px;
    border-radius: 15px;
    padding-left: 10px;
    border: none;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    font-size: 18px;
}

/* filtragem */

#botaoFiltragem {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #3449B6;
    color: white;
    border-radius: 15px;
    width: 205px;
    height: 55px;
    font-size: 18px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#imagemFiltro {
    width: 40px;
    height: 40px;
}

.container-filtroEIcon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#lista {
    width: 97%;
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#tabelaVendas {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    table-layout: fixed;
}

#barraCima {
    background-color: black;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10%;
}

th, td {
    text-align: center;
}

th {
    padding: 2%;
    font-size: 24px;
}


td {
    padding: 2%;
    font-size: 20px;
    font-weight: bold;
}

tr {
    border-bottom: 0.1px solid #DADADA;
}

.tabela-body {
    max-height: 620px;
    max-width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabela-body::-webkit-scrollbar {
    display: none;
}

.tresPontos {
    background: transparent;
    border: none;
}

.tresPontos img {
    cursor: pointer;
}

.modalDetalhesDoPedido table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    table-layout: fixed;
    border-radius: 20px;
    overflow: scroll;
}

.modalDetalhesDoPedido th,
.modalDetalhesDoPedido td {
    text-align: center;
    padding: 10px;
}

.modalDetalhesDoPedido th {
    font-size: 22px;
    background-color: black;
    color: white;
}

.modalDetalhesDoPedido td {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 0.1px solid #DADADA;
}

.tabela-produtos, .tabela-totais-associado {
    width: 100%;
    height: 220px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.resumo-final {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.modalDetalhesDoPedido {
    width: 1200px;
    padding: 10px;
    border: none;
    animation: fadein 0.5s ease-in-out forwards;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
}

.modalDetalhesDoPedido::backdrop {
    background-color: rgba(121, 121, 121, 0.5);
}

.containerHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}

.containerFechar {
    align-self: self-end;
}

.btn-fechar {
    background: transparent;
    border: none;
    cursor: pointer;
}

.dadosHeader {
    display: flex;
    gap: 20px;
    font-weight: 500;
}

.headerDetalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerBaixo {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

#componenteTabelaProdutos {
    width: 100%;
}

#componenteTotaisAssociados {
    display: flex;
    flex-direction: column;
}

.scroll-tbody {
    max-height: 200px;
    overflow-y: auto;
}

.scroll-tbody table {
    width: 100%;
    border-collapse: collapse;
}

.tabela-produtos table th,
.scroll-tbody table td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}