@import url(styles.css);
@import url(./../componentes/tabelasAssociado_ADM/PedidosAssociado_ADM/pedidos.css);

*
{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

body
{
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

a
{
    text-decoration: none;
}

/* PARTE DA DIREITA CONTAINER GERAL */

#container
{
    width: 100vw;
    height: 100vh;
    margin-left: 350px;
}

/* estilizacao da parte do icone do usuario */

#tituloH1
{
    margin-top: 20px;
}

#controleIcon
{
    display: flex;
    flex-direction: row-reverse;
}

#iconUsuario
{
    width: 250px;
    height: 80px;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    margin-top: 0px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

#fotoUser
{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 30px;
    width: 70px;
    height: 70px;
}

/* filtragem e pesquisa */

#divPesquisarEFiltro
{
    display: flex;
    gap: 250px;
}

/* pesquisa */

#inputPesquisar
{
    width: 500px;
    height: 55px;
    border-radius: 15px;
    padding-left: 10px;
    border: none;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    font-size: 18px;
}

/* filtragem */

#botaoFiltragem
{
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #3449B6;
    color: white;
    border-radius: 15px;
    width: 205px;
    height: 55px;
    font-size: 18px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#imagemFiltro
{
    width: 40px;
    height: 40px;
}