@import url(styles.css);

*
{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

body
{
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: #F8F8F8;
}

a
{
    text-decoration: none;
}

/* CONTAINER DIREITA */

#container
{
    gap: 15px;
    padding-left: 60px;
    box-sizing: border-box;
    width: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
}

.main{
    margin-left: 287px;
}

/* botoesPrincipais */

#geralInformacoes
{
    width: 1450px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

#receita, #produto, #abandonadas
{
    display: flex;
    align-items: center;
    gap: 100px;
    color: white;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
    height: 150px;
    width: 450px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#textoTituloInform
{
    margin-left: 5px;
    color: white;
}

#textoInformacao
{
    margin-left: 10px;
    width: 100%;
}

#imagemInforma
{
    width: 40px;
    height: 40px;
}

#imagemInformaEstilizacao
{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 15px;
    align-items: center;
    background-color: white;
    margin-right: 30px;
}

#tituloH1{
    font-size: 36px;
}