*{
    margin: 0;
    padding: 0;
}


footer{
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
    margin-top: 57.8vh;
    
}

button{
    color: white;
    background-color: black;
    width: 200px;
    height: 30px;
    border: 0;
}


.primeiraSecao{
    display: flex;
    justify-content: center;
}

.logoPrincipal{
    width: 370px;
    height: 250px;
    margin-left: 120px;
    margin-top: 50px;
    user-select: none;
}

.segundaSecao{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.segundaSubSecao{
    display: flex;
    justify-content: center;
    margin-left: 12%; 
    gap: 50px;
    margin-top: 40px;
}

.ColunsCategoria{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ColunsAssociado{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.ColunsLine{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.terceiraSecao{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.terceiraSecao img{
    width: 300px;
    height: 120px;
    user-select: none;
}

.Termos{
    margin-right: 580px
}

.Voltar{
    font-size: medium;
    font-family: "Montserrat", sans-serif;
}

.bx bx-chevron-up seta{
    width: 200px;
    height: 40px;
}

.seta{
    font-size: 30px;
}