*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.titulo{
    font-size: 36px;
}

.lancamentos{
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.frameLancamento{
    display: flex;
    align-items: center;
    height: 521px;
    width: 1380px;
    overflow-x: scroll;
}

.containerLancamento{
    padding: 25px 83px 25px 83px;
    display: flex;
    width: max-content;
    height: 471px;
    gap: 17px;
}
