*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.titulo{
    padding-left: 100px;
    font-size: 36px;
}

.lancamentos{
    display: flex;
    flex-direction: column;
    padding-top: 200px; /* tudo cagado */
}

.frameProdutos{
    display: flex;
    width: 1380px;
    overflow-x: hidden;
}

.degradeDireita{
    background-image: linear-gradient(to left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgba(255, 255, 255, 0) 100%);
    height: 100%;
    width: 95px;
    position: absolute;
    right: 0;
    z-index: 500;
}

.degradeEsquerda{
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgba(255, 255, 255, 0) 100%);
    height: 100%;
    width: 95px;
    position: absolute;
    left: 0;
    z-index: 500;
}

.frameLancamentos{
    display: flex;
    align-items: center;
    position: relative;
}

.setaDireita{
    font-size: 35px;
    position: absolute;
    right: -22px;
}

.setaEsquerda{
    font-size: 35px;
    position: absolute;
    left: -22px;
}

.containerLancamento{
    padding: 25px 83px 25px 83px;
    display: flex;
    gap: 17px;
}
