*{
    margin: 0;
    padding: 0;
}

body{
}

.titulo{
    font-size: 36px;
}

.lancamentos{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.frameLancamento{
    display: flex;
    align-items: center;
    width: 1380px;
    overflow-x: scroll;
}

.containerLancamento{
    padding: 25px 83px 25px 83px;
    display: flex;
    gap: 17px;
}
