*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.carousel-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000; /* Ajuste a cor conforme necessário */
  position: relative;
  z-index: 901;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  overflow: hidden;
  width: 100%;
}
.carousel-inner {
  display: flex;
  flex-direction: row;
  width: 200%;
  margin-top: 100px;
  animation: scroll 8s linear infinite;
}
.carousel-item {
  flex: 0 0 auto;
  width: 150px;
  margin: 0 40px;
  text-align: center;
}
.carousel-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.carousel-item .name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
@keyframes scroll {
  0%
  {
    transform: translate(11%);
  }
  100%
  {
    transform: translate(-5.63%);
  }
}

.promo-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #000000 57%, #666666 100%);
  overflow: hidden; /* Adicionado para garantir que as ondas não saiam da seção */
  height: 92vh;
}
.promo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: transparent;
  border-radius: 10px;
  left: 200px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  gap: 20px;
}

.promo-content h2 {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 10px;
}

.promo-content p {
  font-size: 24px;
  margin-bottom: 20px;
  width: 780px;
  margin: 0 auto;
  text-align: center;
  color: #C6C6C6;
}

.azul {
  font-weight: bold;
  color: #5C87D9;
  margin-bottom: 20px;
  margin: 0 auto;
  font-size: 30px;
  max-width: 70%;
}

.botoesContainer{
  display: flex;
  gap: 30px;
}

.karla{
  position: absolute;
  bottom: 82px;
  right: 200px;
  z-index: 901;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-image {
  width: 710px;
  height: auto; /* Ajuste a altura para permitir que a imagem se mova */
  z-index: 901;
  object-fit: cover;
  filter: drop-shadow(0 0 120px rgba(255, 255, 255, 0.4));
}

.blurNomeKarla {
  position: absolute;
  bottom: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 116px;
  width: 500px;
  z-index: 902;
}

.blurNomeKarla .blur{
  position: absolute;
  background-color: white;
  bottom: 10px;
  width: 400px;
  height: 100%;
  z-index: 901;
  filter: blur(20px);
  border-radius: 50px;
}

.nomeKarla{
  margin-top: 20px;
  font-size: 40px;
  font-weight: 700;
  z-index: 903;
}

.cargoKarla{
  font-size: 25px;
  font-weight: bold;
  color: #978E8E;
  z-index: 903;
}

.commission-table {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  text-align: left;
  position: absolute;
  margin-top: 220px;
  margin-left: 23px;
  z-index: 2;
}
.commission-table h2 {
  color:#000000;;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao texto */
}
.commission-table p {
  font-size: 16px;
  color: #AA8E8E;
}
.cards-section {
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 0px;
  width: 100%;
  
  /* max-width: 1918px; */
  /* max-height: 760px; */
  background-image: url('/projeto-integrador-et.com/et_pontocom/public/imagens/TornarAssociado/Rectangle.png');
  background-size: cover;
  background-position: center;
  height: 800px;
  z-index: 1;
  margin-top: 100px;
  margin-left: -1px;
}
.cards-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 2;
}
.card {
  margin: 10px;
}
.cards-section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.card-content {
  padding: 10px;
}
.card-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.card-content p {
  font-size: 14px;
  color: #333;
}
.card1 {
  padding: 10px;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
}
.card1:hover {
  filter: drop-shadow(0 0 15px rgba(0, 183, 255, 0.541));
}
.card2 {
  padding: 10px;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
}
.card2:hover {
  filter: drop-shadow(0 0 15px #9633ff);
}
.card3 {
  padding: 10px;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
}
.card3:hover {
  filter: drop-shadow(0 0 15px #7b00ff);
}
.card4 {
  padding: 10px;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
}
.card4:hover {
  filter: drop-shadow(0 0 15px #ff00f2);
}
.card5 {
  padding: 10px;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
}
.card5:hover {
  filter: drop-shadow(0 0 15px #ff0059);
}

.final{
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa_salmão {
  display: flex;
  justify-content: center;
  margin-top: 200px;  
}
.caixa_salmão img {
  max-width: 100%;
  height: auto;
}
.sej {
  z-index: 5;
  display: flex;
  justify-content: left;
  align-items: left;
  right: 100px;
  bottom: 0;
  position: absolute;
}

.associ{
  margin-right: 1700px;
  text-align: left;
  position: absolute;
  margin-top: -200px;
  z-index: 2;
}
.associ h2{
  color: #877d7d;
  font-size: 30px;
  margin-bottom: 20px;
}
/* .wave.solida{
  position: absolute;
  bottom: -100px;
  margin-left: -1890px;
  width: 150vw;
  height: 240px;
  top: 450px;
  background: url(/projeto-integrador-et.com/et_pontocom/public/imagens/TornarAssociado/wave.png);
  background-size: 100vw 250px;
  animation: animacaoOnda 8s linear infinite;
  animation-delay: 0s;
  opacity: 0.99;
} */
@keyframes animacaoOnda
{
  0%
  {
      background-position-x: 100vw;
  }
  100%
  {
      background-position-x: 0;
  }
}
@media screen and (max-width: 430px) {
  .carousel-title {
    font-size: 18px;
    text-align: center;
  }

  .carousel-container {
    flex-direction: column;
    margin-top: 50px;
  }

  .carousel-item {
    width: 100px;
    height: 100px;
    margin: 0 10px;
  }

  .promo-content {
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
  }

  .promo-content h2 {
    font-size: 28px;
  }

  .promo-content p,
  .azul {
    font-size: 16px;
    max-width: 100%;
  }

  .promo-image,
  .substituir-imagem {
    display: none;
  }

  .commission-table {
    position: static;
    margin-top: 20px;
    padding: 10px;
  }

  .cards-section {
    height: auto;
    padding: 20px;
    margin-top: 100px;
    background-size: cover;
  }

  .cards-container {
    flex-direction: column;
    transform: none;
    top: auto;
    left: auto;
    position: static;
  }

  .card {
    width: 40%;
    margin: 5px auto;
    margin-top: -30px;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .caixa_salmão {
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .caixa_salmão img {
    width: 80%;
    height: auto;
  }

  .sej {
    width: 90%;
    margin: 40px auto;
    position: static;
    display: flex;
    justify-content: center;
  }

  .sej img {
    width: 80%;
    height: auto;
  }

  .associ {
    width: 90%;
    margin: 20px auto;
    position: static;
    text-align: center;
  }

  .wave.solida {
    display: none;
  }
}
