*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F9F9F9;
}


.carousel-title {
  
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000; /* Ajuste a cor conforme necessário */
  position: relative;
  z-index: 901;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  overflow: hidden;
  width: 100%;
}
.carousel-inner {
  display: flex;
  flex-direction: row;
  width: 200%;
  margin-top: 100px;
}
.carousel-item {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  
  margin: 0 40px;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.carousel-item .name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
@keyframes scroll {
  from{
      transform: translate(10%);
  }
  to{
      transform: translate(0%);
  }
}
.carousel-inner {
  animation: scroll 5s linear infinite;

}

.promo-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 60px;
  background-color: #000000;
  
  overflow: hidden; /* Adicionado para garantir que as ondas não saiam da seção */
}
.promo-content {
  max-width: 70%;
  background-color: transparent;
  padding: 150px;
  padding-top: 200px;
  border-radius: 10px;
  margin-left: -200px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  margin-top: -100px;
}

.promo-content h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.promo-content p {
  font-size: 30px;
  margin-bottom: 20px;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #C6C6C6;
}

.azul {
  font-weight: bold;
  color: #5C87D9;
  margin-bottom: 20px;
  margin: 0 auto;
  font-size: 30px;
  max-width: 70%;
}

.promo-content .learn-more,
.promo-content .join-now {
  display: block;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #5C87D9;
  background-color: #000000;
  border-radius: 5px;
  margin: 10px auto;
}

.promo-content .join-now {
  background-color: #ffffff;
  color: #37ADD2;
  width: 150px;
}
.promo-image {
  position: absolute;
  width: 30%;
  height: auto; /* Ajuste a altura para permitir que a imagem se mova */
  z-index: 901;
  object-fit: cover;
  border-radius: 10px;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.377));
  margin-top: -240px; /* Ajuste conforme necessário */
  margin-left: -400px;
}

.substituir-imagem {
  position: absolute;
  display: block;
  margin-left: 1200px;
  top: 570px; /* Ajusta a margem superior para mover a imagem mais para baixo */
  width: 30%; /* Ajusta a largura da imagem conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Ajusta a imagem para cobrir a área */
  border-radius: 10px; /* Adiciona bordas arredondadas */
  z-index: 902; /* Garante que a imagem fique acima de outros elementos */
}

.commission-table {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 20px 0;
  text-align: left;
  position: absolute;
  margin-top: 287px;
  z-index: 2;
}
.commission-table h2 {
  color:#000000;;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao texto */
}
.commission-table p {
  font-size: 16px;
  color: #AA8E8E;
}
.cards-section {
  position: relative;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 0px;
  
  max-width: 1918px;
  max-height: 760px;
  background-image: url('/projeto-integrador-et.com/et_pontocom/public/imagens/TornarAssociado/Rectangle.png');
  background-size: cover;
  background-position: center;
  height: 800px;
  z-index: 1;
  margin-top: 200px;
  margin-left: -1px;
}
.cards-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 2;
}
.card {
  margin: 10px;
}
.cards-section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.card-content {
  padding: 10px;
}
.card-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.card-content p {
  font-size: 14px;
  color: #333;
}
.card1 {
  padding: 10px;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
}
.card1:hover {
  filter: drop-shadow(0 0 15px rgba(0, 183, 255, 0.541));
}
.card2 {
  padding: 10px;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
}
.card2:hover {
  filter: drop-shadow(0 0 15px #9633ff);
}
.card3 {
  padding: 10px;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
}
.card3:hover {
  filter: drop-shadow(0 0 15px #7b00ff);
}
.card4 {
  padding: 10px;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
}
.card4:hover {
  filter: drop-shadow(0 0 15px #ff00f2);
}
.card5 {
  padding: 10px;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
}
.card5:hover {
  filter: drop-shadow(0 0 15px #ff0059);
}
.caixa_salmão {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 200px;
  margin-left:100px;
}
.caixa_salmão img {
  max-width: 100%;
  height: auto;
}
.sej {
display: flex;
justify-content: left;
align-items: left;
margin-top: 730px;
margin-left: 1000px;
}

.associ{

  background-color: #f9f9f9;
  margin-right: 1700px;
  text-align: left;
  position: absolute;
  margin-top: -200px;
  z-index: 2;
}
.associ h2{
  color: #877d7d;
  font-size: 30px;
  margin-bottom: 20px;
}
.wave.solida{
  position: absolute;
  bottom: -100px;
  margin-left: -1890px;
  width: 150vw;
  height: 240px;
  top: 450px;
  background: url(/projeto-integrador-et.com/et_pontocom/public/imagens/TornarAssociado/wave.png);
  background-size: 100vw 250px;
  animation: animacaoOnda 8s linear infinite;
  animation-delay: 0s;
  opacity: 0.99;
}
@keyframes animacaoOnda
{
  0%
  {
      background-position-x: 100vw;
  }
  100%
  {
      background-position-x: 0;
  }
}