.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.3s;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
}

.btn:hover{
    transform: scale(1.05);
}

.btn-black{
    background-color: black;
    color: white;
}

.btn-white{
    background-color: white;
    color: black;
}

.btn-black:hover{
    background-color: rgb(76, 76, 76);
}

.btn-white:hover{
    background-color: rgb(201, 201, 201);
}

.btn-red{
    background-color: #ff6464;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    text-align: center;
}

.btn-red:hover{
    background-color: #ff6464bd;
}

.btn-green{
    background-color: #43a728;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    text-align: center;
}

.btn-green:hover{
    background-color: #44a728ba;
}

.img-cancelar, .img-confirmar{
    width: 30px;
}

.btn a, .btn-black a, .btn-green a, .btn-red a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 0px;
}

.btn-white a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}