#divPesquisarEFiltro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.divTextInput{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 500px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: white;
}

.divTextInput button{ /* botão ao lado do input, onde está a lupinha */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    background-color: #ffffff00;
    padding-right: 10px;
    padding-left: 10px;
}

.divTextInput i{ /* lupinha no botão do input */
    display: flex;
    justify-content: center;
    align-items: center;
}

.divTextInput i::before{ /* lupinha no botão do input também, n lembro qual é a diferença */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

#inputPesquisar {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding-left: 10px;
    border: none;
    font-size: 18px;
}

#inputPesquisar:focus{ /* serve para quando vc clicar no input, não aparecer uma borda preta */
    outline: 0;
}

#botaoOrdenar {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #3449B6;
    color: white;
    border-radius: 15px;
    width: 200px;
    height: 55px;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
    background-image: url("/projeto-integrador-et.com/et_pontocom/public/imagens/imagensADM/filtro.png");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position-x: 150px;
    background-position-y: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: left;
    padding: 10px;
}

#botaoOrdenar:hover {
    background-color: #3449b6d1;
}

#botaoOrdenar option {
    background-color: rgb(110, 110, 110);
    color: white;
}

@media (max-width: 1600px) {
    #inputPesquisar {
        font-size: 16px
    }

    .divTextInput{
        width: 390px;
        height: 50px;
    }

    #botaoOrdenar{
        height: 50px;
    }
}

@media (max-width: 1350px) {
    .container-filtroEIcon {
        display: block;
    }

    #divPesquisarEFiltro {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 10px;
    }

    #inputPesquisar {
        width: 550px;
    }

    #controleIcon {
        justify-content: end;
    }

}

@media (max-width: 1140px) {
    #inputPesquisar {
        width: 300px;
    }

}

@media (max-width: 800px) {
    #inputPesquisar {
        width: 300px;
        background-size: 28px;
    }

    #botaoOrdenar {
        width: 110px;
        font-size: 14px;
        background-size: 25px;
        background-position-x: 80px;
    }

}

@media (max-width: 520px) {
    #inputPesquisar {
        width: 200px;
        height: 40px;
        background-size: 25px;
    }

    #divPesquisarEFiltro {
        gap: 5px;
    }

    #botaoOrdenar {
        width: 110px;
        height: 40px;
    }

}