/* VALORES DEFAULT */

*
{
	margin: 0;
	padding: 0;
	font-family: "Inter", serif;
}

/* ANIMACAO BACKGROUND  */

body
{
	margin: 0;
	padding: 0;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* COLORACAO E DECORACAO PADRAO TEXTO LINKAGEM */

a
{
	text-decoration: none;
	color: white;
}

/* PARTE DO AVISO  */

#aviso
{
	display: flex;
	align-items: center;
}

#avisoH1
{
	display: flex;
	align-items: center;
	color: white;
	font-weight: 300;
	font-size: large;
}

#pointerAviso
{
	width: 30px;
	height: 30px;
}

/* CONTAINER PARA ORGANIZAR AS FOTOS */

.container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 2% 10% 2% 10%;
	gap: 50px;
}


/* #DIVISAO E SEPARACAO QUE ENVOLVE AS IMAGENS E OS BOTOES */

#divisaoLinkagem {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 15px;
	width: 200px;
	height: 50px;
	margin: 0;
	padding: 0;
	border-radius: 12px;
	background: linear-gradient(to right, var(--myColor1), var(--myColor2), var(--myColor3));
	transition: --myColor1 0.5s, --myColor2 0.5s, --myColor3 0.5s;
}

.image-container 
{
	position: relative;
	display: inline-block;
	margin: 10px;
}

/* IMAGEM QUE MOSTRA OS DEVS */

#frontImage 
{
	width: 300px;
	height: auto;
}

/* IMAGEM DAS LOGOS DAS REDES SOCIAIS */

#logo
{
	width: 30px;
	height: 30px;
	color: black;
	border: none;
}

#nomeDevUser
{
	color: white;
	padding-bottom: 80px;
}

/* ANIMACAO DE ESCURECIMENTO E DIVISORIA PARA O HOVER */

.overlay 
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease-in-out;
	height: 100%;
	border-radius: 15px;
	gap: 20px;	
}

/* ORGANIZADOR DOS BOTOES PARA FICAREM EM COLUNA */

.midias
{
	display: flex;
	flex-direction: column;
}

/* BOTAO */

.botao
{
	/* esse cara é o que envia para os sites o botão inteiro 
	em si não é clicavel, apenas a classe botao */
	padding: 10px 20px;
	margin: 5px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	background-color: transparent;
	color: white;
}

/* ANIMACAO DO BOTAO  */

@property --myColor1 {
	syntax: '<color>';
	initial-value: #EC01A4;
	inherits: false;
  }
  
  @property --myColor2 {
	syntax: '<color>';
	initial-value: #7D00A5;
	inherits: false;
  }
  @property --myColor3 {
	syntax: '<color>';
	initial-value: #000000;
	inherits: false;
  }

/* HOVERS GERAIS */

.image-container:hover .overlay 
{	
	opacity: 1;
	border-radius: 15px;
	transition: filter 1.5s ease-in;
}

.image-container:hover #frontImage 
{
	opacity: 1; 
	border-radius: 15px;
	filter: brightness(0.4);
}


.image-container:hover #divisaoLinkagem
{
	display: flex;
}

#divisaoLinkagem:hover {
	--myColor1: #000000;
	--myColor2: #7D00A5;
	--myColor3:#EC01A4;
}