.popUpDialog{
    border: none;
    background: none;
    animation: fadein 0.5s ease-in-out forwards;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fadein{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}

.popUp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0px 0px 10px 0px rgb(71, 71, 71);
    gap: 30px;
}

.popUpDialog::backdrop{
    background-color: rgba(121, 121, 121, 0.5);
}

.botoes-popUp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.texto-popUp{
    width: 100%;
    height: 100%;
    text-align: center;
}   

.img-popUp img{
    width: 100%;
    height: 100%;
}

.fecharPopUp{
    display: flex;
    align-items: end;
    width: 100%;
    justify-content: end;
}

.icone-fechar{
    width: 20px;
    height: 20px;
    cursor: pointer;
}